<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Image Slider Editor
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin/dashboard']">Dashboard</a>
      </li>
      <li class="active">
        <i class="fa fa-envelope"></i> Image Slider Editor
      </li>
    </ol>
  </div>
</div>

<div class="row form-outer" fadeInDirective>
  <div class="col-lg-12 form-wrapper">
    <form role="form" novalidate [formGroup]="imgSliderForm" (ngSubmit)="saveImageSlider()">
      <div class="row">
        <div class="col-lg-12">
          <div class="marg-sm-top">
              <label>Image Title</label>
              <input type="text" class="form-control" formControlName="imageTitle"
                      placeholder="Enter Image Title">
              <control-messages [isSubmitted]="isSubmitted"
                                [control]="imgSliderForm.controls['imageTitle']"></control-messages>
            </div>
        </div>
        <div class="col-lg-12">
          <div class="marg-sm-top">
            <label>Image Alt Text</label>
            <input type="text" class="form-control" formControlName="imageAltText"
                    name="imageAltText"
                    placeholder="Enter alternate text">
            <control-messages [isSubmitted]="isSubmitted"
                              [control]="imgSliderForm.controls['imageAltText']"></control-messages>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="marg-sm-top" >
            <label>Image Primary Content</label>
            <textarea class="form-control" formControlName="imagePrimaryContent" rows="5"
                      placeholder="Enter Primary Content">
                    </textarea>
          </div>              
        </div>
        <div class="col-lg-12">
          <div class="marg-sm-top" >
            <label>Image Secondary Content</label>
            <textarea class="form-control" formControlName="imageSecondaryContent" rows="5"
                      placeholder="Enter Secondary Content">
            </textarea>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="marg-sm-top" >
            <image-uploader [isSubmitted]="isSubmitted" [canvasSize]="canvasSize"
                            [imageFormControl]="imageFormControl"
                            (deleteImageEvent)="deleteImage($event)"
                            allowDelete="true"
                            [imageName]="objSlider.imageName" [drawImagePath]="drawImagePath"
                            (fileSelectedEvent)="changeFile($event)"></image-uploader>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="marg-sm-top">
            <label>
              <md-checkbox formControlName="active">
                Active
              </md-checkbox>
            </label>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="marg-sm-top">
              <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i>  Save</button>
              <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel</button>
            </div>
        </div>
          
          
          
          
      </div>
    </form>
  </div>
</div>