<div class="row grid-wrapper" fadeInDirective>
  <div class="col-lg-12">
    <nav class="jumbotron filter-wrapper">
      <div class="container">
        <a class="navbar-brand fa fa-plus-circle btn btn-primary" title="Add Document Category" (click)="addDocumentCategory()"
           href="javascript:void(0)"> Add Document Category </a>
      </div>
    </nav>
    <div class="table-responsive">
      <table class="tablesorter table table-bordered table-hover table-striped">
        <thead class="thead-inverse">
        <tr #colCount>
          <th>SN</th>
          <th>Document Category</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let categoryList of catListResponse?.dataList let i=index">
              <td>{{preIndex+(i+1)}}</td>
              <td>{{categoryList.categoryName}}</td>
              <td>
                  <i *ngIf="categoryList.active" class="fa green fa-check" aria-hidden="true"></i>
                  <i *ngIf="!categoryList.active" class="fa red fa-times" aria-hidden="true"></i>
              </td>
              <td class="action">
                  <a class="fa fa-pencil-square-o" title="Edit" (click)="edit(categoryList._id)"
                           href="javascript:void(0)"></a>
                  <a class="fa fa-trash red-hover" title="Delete" (click)="delete(categoryList._id)" 
                           href="javascript:void(0)"></a>
              </td>
            </tr>
        </tbody>
        <tbody *ngIf="catListResponse?.dataList?.length==0">
          <tr>
            <td [attr.colspan]="colCount.children.length">No Record Found</td>
          </tr>
        </tbody>
      </table>

      <div class="list-pagination" *ngIf="catListResponse?.dataList?.length>0">
                <p-paginator [rows]="perPage" [totalRecords]="catListResponse.totalItems"
                             [rowsPerPageOptions]="[5,10,20,50,100]" [first]="first"
                             (onPageChange)="pageChanged($event)"></p-paginator>
            </div>
    </div>