<div class="row form-outer" fadeInDirective>
  <div class="col-lg-12 form-wrapper">
    <form role="form" novalidate [formGroup]="documentForm" (ngSubmit)="saveDocument()">
      <div class="form-group">
        <label>Category</label>
        <select class="form-control" formControlName="categoryId">
            <option value="">Select category</option>
            <option *ngFor="let docCat of docCategoryList.dataList" [value]="docCat._id">{{docCat.categoryName}}</option>
        </select>
        <control-messages [isSubmitted]="isSubmitted"
                    [control]="documentForm.controls['categoryId']"></control-messages>
      </div>
      <div class="form-group">
        <label>Document Title</label>
        <input type="text" class="form-control" formControlName="documentTitle"
               placeholder="Enter Document Title">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="documentForm.controls['documentTitle']"></control-messages>
      </div>
      <div class="form-group">
        <label>Document Alt Text</label>
        <input type="text" class="form-control" formControlName="documentAltText"
                placeholder="Enter Document Alternate Text">
        <control-messages [isSubmitted]="isSubmitted"
                        [control]="documentForm.controls['documentAltText']"></control-messages>
      </div>
      <div class="form-group">
        <label>Document Description</label>
        <textarea class="form-control" formControlName="documentDescription" rows="5"
                  placeholder="Enter Document Description">
        </textarea>
         <control-messages [isSubmitted]="isSubmitted"
                        [control]="documentForm.controls['documentDescription']"></control-messages>
      </div>
      <div class="form-group">
          <doc-uploader [isSubmitted]="isSubmitted"
                        [allowedExt]="allowedExt"
                        [allowedSize]="allowedSize"
                        [docFormControl]="documentFormControl"
                        (deleteFileEvent)="onDeleteFile($event)"
                        [fileName]="fileName"
                        (fileSelectedEvent)="onFileSelect($event)"></doc-uploader>
      </div>
      <div class="form-group">
        <label>
          <md-checkbox formControlName="active">
            Active
          </md-checkbox>
        </label>
      </div>
      <button type="submit" class="btn btn-primary" processing>Save</button>
      <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel
      </button>
      </form>
      </div>
      </div>

      <!--objBlog.active-->