<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Document Management
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin/dashboard']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Document Management
            </li>
        </ol>
    </div>
</div>
<p-tabView (onChange)="tabSwitch($event)">

  <p-tabPanel header="Document">

  </p-tabPanel>
  <p-tabPanel header="Document Category">
        
  </p-tabPanel>
</p-tabView>
<!--<nav>
    <a routerLink="document" [class.selected]="documenttab" (click)="documenttabactive()">Document</a>
    <a routerLink="document-category" [class.selected]="documentCategorytab" (click)="documentcategorytabactive()">Document Category</a>
</nav>-->

<router-outlet></router-outlet>