<!-- Page Heading -->
<div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            Video Gallery Editor
          </h1>
          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin/dashboard']">Dashboard</a>
            </li>
            <li class="active">
              <i class="fa fa-envelope"></i> Video Gallery Editor
            </li>
          </ol>
        </div>
      </div>
      
      <div class="row form-outer" fadeInDirective>
        <div class="col-lg-12 form-wrapper">
          <form role="form" novalidate [formGroup]="videoForm" (ngSubmit)="saveVideo()">
            <div class="row">
              <div class="col-lg-12">
                <div class="marg-sm-top">
                    <label>Video Title</label>
                    <input type="text" class="form-control" formControlName="title"
                            placeholder="Enter Video Title">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="videoForm.controls['title']"></control-messages>
                  </div>
              </div>
              <div class="col-lg-12">
                <div class="marg-sm-top">
                  <label>Video Url</label>
                  <input type="text" class="form-control" formControlName="videoUrl"
                          name="videoUrl"
                          placeholder="Enter video url">
                  <control-messages [isSubmitted]="isSubmitted"
                                    [control]="videoForm.controls['videoUrl']"></control-messages>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="marg-sm-top">
                  <label>
                    <md-checkbox formControlName="active">
                      Active
                    </md-checkbox>
                  </label>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="marg-sm-top">
                    <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i>  Save</button>
                    <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel</button>
                  </div>
              </div>
            </div>
          </form>
        </div>
      </div>