<div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Video Gallery</h1>
          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin/dashboard']">Dashboard</a>
            </li>
            <li>
              <i class="fa fa-fw fa-picture-o"></i> Video Gallery
            </li>
          </ol>
        </div>
      </div>
      
      <div class="row grid-wrapper" fadeInDirective>
        <div class="col-lg-12">
          <nav class="jumbotron filter-wrapper">
            <a class="navbar-brand fa fa-plus-circle btn btn-primary" title="Add Video" (click)="addVideo()"
                href="javascript:void(0)"> Add Video </a>
          </nav>
          <div class="table-responsive">
            <table class="tablesorter table table-bordered table-hover table-striped">
              <thead class="thead-inverse">
              <tr #colCount>
                <th>SN</th>
                <th>Video Title</th>
                <th>Active</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody *ngIf="videoGalleryList?.dataList?.length>0">
                <tr *ngFor="let obj of videoGalleryList.dataList let i=index">
                  <td>{{i+1}}</td>
                  <td>{{obj.title}}</td>
                  <td [ngSwitch]="obj.active">
                    <i *ngSwitchCase="true" class="fa green fa-check" aria-hidden="true"></i>
                    <i *ngSwitchCase="false" class="fa red fa-times" aria-hidden="true"></i>
                  </td>
                  <td class="action">
                    <a class="fa fa-pencil-square-o" title="Edit" (click)="edit(obj._id)"
                       href="javascript:void(0)"></a>
                    <a class="fa fa-trash red-hover" (click)="delete(obj._id)"
                       title="Delete"
                       href="javascript:void(0)"></a>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="videoGalleryList?.dataList?.length==0">
              <tr>
                <td [attr.colspan]="colCount.children.length">No Record Found</td>
              </tr>
              </tbody>
            </table>
            <div class="list-pagination" *ngIf="videoGalleryList?.dataList?.length>0">
      
                      <p-paginator [rows]="perPage" [totalRecords]="videoGalleryList.totalItems"
                                   [rowsPerPageOptions]="[5,10,20,50,100]" [first]="first"
                                   (onPageChange)="pageChanged($event)"></p-paginator>
      
                  </div>
          </div>
        </div>
      </div>