<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Team Management
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-fw fa-users"></i> Team Management
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row grid-wrapper" fadeInDirective *ngIf="!showForm">
    <div class="col-lg-12">
        <nav class="jumbotron filter-wrapper">
            <div class="container">
                <a class="navbar-brand fa fa-plus-circle btn btn-primary" title="Add Team Member"
                   (click)="addTeamMember()"
                   href="javascript:void(0)"> Add Team Member </a>
            </div>
        </nav>
        <div class="table-responsive">
            <table class="tablesorter table table-bordered table-hover table-striped">
                <thead class="thead-inverse">
                <tr #colCount>
                    <th>SN</th>
                    <th>Member Name</th>
                    <th>Designation</th>
                    <th>Order</th>
                    <th>Active</th>
                    <th>Actions</th>

                </tr>
                </thead>
                <tbody *ngIf="objListResponse?.dataList?.length>0">
                <tr *ngFor="let obj of objListResponse.dataList let i=index">
                    <td>{{preIndex+(i+1)}}</td>
                    <td>{{obj.teamMemberName}}</td>
                    <td>{{obj.designation}}</td>
                    <td *ngIf="objListResponse.totalItems==1"></td>
                    <td *ngIf="objListResponse.totalItems>1 && preIndex+(i+1)==1">
                        <a href="javascript:void(null)" class="fa fa-caret-down order-sort red-hover"
                           (click)="moveDown(obj._id,obj.hierarchyOrder)"
                           title="Move Down"></a>
                    </td>
                    <td *ngIf="preIndex+(i+1)>1 && (preIndex+(i+1))<objListResponse.totalItems">
                        <a href="javascript:void(null)" class="fa fa-caret-up order-sort"
                           (click)="moveUp(obj._id,obj.hierarchyOrder)"
                           title="Move Up"></a>
                        <a href="javascript:void(null)" class="fa fa-caret-down order-sort red-hover"
                           (click)="moveDown(obj._id,obj.hierarchyOrder)" title="Move Down"></a>
                    </td>
                    <td *ngIf="i>0 && (preIndex+(i+1))==objListResponse.totalItems">
                        <a href="javascript:void(null)" class="fa fa-caret-up order-sort"
                           (click)="moveUp(obj._id,obj.hierarchyOrder)"
                           title="Move Up"></a>
                    </td>

                    <td [ngSwitch]="obj.active">
                        <i *ngSwitchCase="true" class="fa green fa-check" aria-hidden="true"></i>
                        <i *ngSwitchCase="false" class="fa red fa-times" aria-hidden="true"></i>
                    </td>

                    <td class="action">
                        <a class="fa fa-pencil-square-o" title="Edit" (click)="edit(obj._id)"
                           href="javascript:void(0)"></a>
                        <a class="fa fa-trash red-hover" (click)="delete(obj._id)"
                           title="Delete"
                           href="javascript:void(0)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="objListResponse?.dataList?.length==0">
                <tr>
                    <td [attr.colspan]="colCount.children.length">No Record Found</td>
                </tr>
                </tbody>
            </table>
            <div class="list-pagination" *ngIf="objListResponse?.dataList?.length>0">

                <p-paginator [rows]="perPage" [totalRecords]="objListResponse.totalItems"
                             [rowsPerPageOptions]="[5,10,20,50,100]" [first]="first"
                             (onPageChange)="pageChanged($event)"></p-paginator>

            </div>
        </div>
    </div>
</div>
