<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Team Management Editor
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin/dashboard']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-fw fa-users"></i> Team Management Editor
            </li>
        </ol>
    </div>
</div>
<div class="row form-outer" fadeInDirective>
  <div class="col-lg-12 form-wrapper">
    <form role="form" novalidate [formGroup]="teamMgmtForm" (ngSubmit)="saveTeamMember()">
      <div class="form-group">
        <label>Member Name</label>
        <input type="text" class="form-control" formControlName="teamMemberName" placeholder="Enter Member Full Name">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="teamMgmtForm.controls['teamMemberName']"></control-messages>
      </div>

      <div class="form-group">
        <label>Designation</label>
        <input type="text" class="form-control" formControlName="designation" placeholder="Enter Designation">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="teamMgmtForm.controls['designation']"></control-messages>

      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" placeholder="Enter Email" formControlName="email">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="teamMgmtForm.controls['email']"></control-messages>
      </div>
      <div class="form-group">
        <label>Address</label>
        <input type="text" class="form-control" formControlName="address" placeholder="Enter Address">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" formControlName="description" placeholder="Enter Member Description">
                    </textarea>
      </div>
      <div class="form-group">
        <label>Facebook Page URL <i class="fa fa-facebook color" aria-hidden="true"></i></label>
        <input class="form-control" formControlName="facebookURL" type="text" placeholder="Enter Facebook Page URL">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="teamMgmtForm.controls['facebookURL']"></control-messages>
      </div>
      <div class="form-group">
        <label>Twitter URL <i class="fa fa-twitter color" aria-hidden="true"></i></label>
        <input class="form-control" formControlName="twitterURL" type="text" placeholder="Enter Twitter URL">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="teamMgmtForm.controls['twitterURL']"></control-messages>
      </div>
      <div class="form-group">
        <label>Google Plus URL <i class="fa fa-google-plus color" aria-hidden="true"></i></label>
        <input class="form-control" formControlName="googlePlusURL" type="text" placeholder="Enter Google Plus URL">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="teamMgmtForm.controls['googlePlusURL']"></control-messages>
      </div>
      <div class="form-group">
        <label>LinkedIn Page URL <i class="fa fa-linkedin color" aria-hidden="true"></i></label>
        <input class="form-control" formControlName="linkedInURL" type="text" placeholder="Enter LinkedIn Page URL">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="teamMgmtForm.controls['linkedInURL']"></control-messages>
      </div>
      <div>
        <image-uploader [isSubmitted]="isSubmitted" [canvasSize]="canvasSize"
                        allowDelete="true"
                        [imageFormControl]="imageFormControl" (deleteImageEvent)="deleteImage($event)"
                        [imageName]="objTeam.imageName" [drawImagePath]="drawImagePath"
                        (fileSelectedEvent)="changeFile($event)"></image-uploader>

      </div>
      <div >
        <label>
          <md-checkbox formControlName="active">
            Active
          </md-checkbox>
        </label>
      </div>
      <div class="marg-sm-top">
          <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i> Save</button>
          <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel
          </button>
      </div>
    </form>
  </div>
</div>