<div class="bg-pattern" *ngIf="personDetail">
    <div class="container">
        <div  class="clearfix">
            <div class="row">
                <div class="col-sm-6">
                    <div class="intro text-center">
                        <div class="icon-image-box">
                            <img [src]="personDetail.logoImageName" alt="Hob Khadka picture">
                        </div>
                        <p class="text-faded">
                            {{personDetail.slogan}}
                        </p>
                        <br>
                        <div class="social_links ">
                            <a href="{{personDetail.facebookURL}}" target="_blank">
                                <svg width="11px" height="23px" viewBox="20 44 11 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <path d="M27.3147057,67 L22.4372418,67 L22.4372418,55.4985483 L20,55.4985483 L20,51.535534 L22.4372418,51.535534 L22.4372418,49.1562737 C22.4372418,45.9234411 23.8127074,44 27.7230238,44 L30.9776468,44 L30.9776468,47.964466 L28.9435074,47.964466 C27.4212558,47.964466 27.3206665,48.5182719 27.3206665,49.5518493 L27.3139606,51.535534 L31,51.535534 L30.5685836,55.4985483 L27.3139606,55.4985483 L27.3139606,67 L27.3147057,67 Z" id="Shape" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
                                </svg>
                            </a>
                            <a href="{{personDetail.twitterURL}}" target="_blank">
                                <svg width="21px" height="18px" viewBox="15 87 21 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <path d="M33.526149,89.8457316 C34.4160944,89.2841254 35.0989611,88.3936155 35.41944,87.3328037 C34.5861948,87.8541095 33.6654341,88.2311137 32.6830428,88.4352159 C31.899102,87.5512061 30.7786582,87 29.5386512,87 C27.1597112,87 25.231907,89.0345226 25.231907,91.5435505 C25.231907,91.8997544 25.2676528,92.2468583 25.3416094,92.578362 C21.762106,92.3885599 18.5881317,90.5815398 16.4618771,87.8307092 C16.0908611,88.5041167 15.8788519,89.2841254 15.8788519,90.1161346 C15.8788519,91.6917521 16.6393731,93.0827676 17.7955626,93.8991767 C17.0892763,93.8757764 16.4248987,93.6690741 15.8431062,93.3310703 L15.8431062,93.386971 C15.8431062,95.5891954 17.3271703,97.4261158 19.3005811,97.8421205 C18.9381933,97.9487217 18.558549,98.0020222 18.1641134,98.0020222 C17.8867758,98.0020222 17.6156013,97.9747219 17.3542877,97.9214213 C17.9015672,99.7258414 19.4928685,101.041456 21.3787639,101.076556 C19.9033281,102.29597 18.0457827,103.021378 16.0279979,103.021378 C15.6804015,103.021378 15.3365029,103.001878 15,102.958977 C16.9068498,104.247292 19.1711569,105 21.6043317,105 C29.5300229,105 33.8614193,98.0761231 33.8614193,92.0713563 C33.8614193,91.8737542 33.858954,91.677452 33.8503258,91.4837498 C34.6921993,90.8428427 35.4243705,90.0420338 36,89.1307237 C35.2271527,89.4921277 34.3963726,89.7365304 33.526149,89.8457316 Z" id="Shape" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
                                </svg>
                            </a>
                            <a href="{{personDetail.instagramURL}}" target="_blank">
                                <svg width="20px" height="20px" viewBox="15 133 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <path d="M31.1347601,133 L18.8652399,133 C16.7344779,133 15,134.733302 15,136.86524 L15,149.13476 C15,151.266698 16.7344779,153 18.8652399,153 L31.1347601,153 C33.2655221,153 35,151.266698 35,149.13476 L35,136.86524 C35,134.733302 33.2655221,133 31.1347601,133 L31.1347601,133 Z M32.24365,135.305974 L32.6857949,135.303622 L32.6857949,138.693791 L29.3062088,138.704374 L29.2944497,135.314205 L32.24365,135.305974 L32.24365,135.305974 Z M22.1460489,140.946849 C22.7857479,140.060207 23.8252587,139.479304 25,139.479304 C26.1747413,139.479304 27.2142521,140.060207 27.8539511,140.946849 C28.2714017,141.5254 28.5206961,142.233302 28.5206961,143 C28.5206961,144.940263 26.9414393,146.51952 25,146.51952 C23.0597366,146.51952 21.4804798,144.940263 21.4804798,143 C21.4804798,142.233302 21.7297742,141.5254 22.1460489,140.946849 L22.1460489,140.946849 Z M33.0515052,149.13476 C33.0515052,150.19191 32.1919097,151.051505 31.1347601,151.051505 L18.8652399,151.051505 C17.8080903,151.051505 16.9484948,150.19191 16.9484948,149.13476 L16.9484948,140.946849 L19.9353246,140.946849 C19.6766228,141.581844 19.5319849,142.274459 19.5319849,143 C19.5319849,146.015052 21.9849483,148.469191 25,148.469191 C28.0162277,148.469191 30.469191,146.015052 30.469191,143 C30.469191,142.274459 30.3222013,141.581844 30.0658514,140.946849 L33.0515052,140.946849 L33.0515052,149.13476 L33.0515052,149.13476 Z" id="Shape" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
                                </svg>
                            </a>
                            <a href="{{personDetail.linkedInURL}}" target="_blank">
                                <svg width="20px" height="20px" viewBox="15 175 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <path d="M15.5044685,181.413113 L19.4026341,181.413113 L19.4026341,194.998719 L15.5044685,194.998719 L15.5044685,181.413113 Z M17.3541863,179.713792 L17.3259643,179.713792 C15.9148636,179.713792 15,178.675247 15,177.360097 C15,176.018056 15.9419097,175 17.3812324,175 C18.8193791,175 19.7036689,176.015495 19.7318909,177.356256 C19.7318909,178.671405 18.8193791,179.713792 17.3541863,179.713792 L17.3541863,179.713792 Z M35,195 L30.5797272,195 L30.5797272,187.96837 C30.5797272,186.128185 29.8882879,184.873223 28.3678269,184.873223 C27.2048448,184.873223 26.5580903,185.719682 26.2570555,186.537969 C26.1441675,186.82994 26.1618062,187.238443 26.1618062,187.648226 L26.1618062,195 L21.7826905,195 C21.7826905,195 21.8391345,182.54514 21.7826905,181.413113 L26.1618062,181.413113 L26.1618062,183.545268 C26.420508,182.613011 27.8198495,181.282495 30.0529163,181.282495 C32.8233772,181.282495 35,183.237931 35,187.444615 L35,195 L35,195 Z" id="Shape" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="tweets-wrapper">
                        <h3>Tweets</h3>
                        <a href="{{personDetail.twitterURL}}" target="_blank">
                                <svg width="21px" height="18px" viewBox="15 87 21 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <path d="M33.526149,89.8457316 C34.4160944,89.2841254 35.0989611,88.3936155 35.41944,87.3328037 C34.5861948,87.8541095 33.6654341,88.2311137 32.6830428,88.4352159 C31.899102,87.5512061 30.7786582,87 29.5386512,87 C27.1597112,87 25.231907,89.0345226 25.231907,91.5435505 C25.231907,91.8997544 25.2676528,92.2468583 25.3416094,92.578362 C21.762106,92.3885599 18.5881317,90.5815398 16.4618771,87.8307092 C16.0908611,88.5041167 15.8788519,89.2841254 15.8788519,90.1161346 C15.8788519,91.6917521 16.6393731,93.0827676 17.7955626,93.8991767 C17.0892763,93.8757764 16.4248987,93.6690741 15.8431062,93.3310703 L15.8431062,93.386971 C15.8431062,95.5891954 17.3271703,97.4261158 19.3005811,97.8421205 C18.9381933,97.9487217 18.558549,98.0020222 18.1641134,98.0020222 C17.8867758,98.0020222 17.6156013,97.9747219 17.3542877,97.9214213 C17.9015672,99.7258414 19.4928685,101.041456 21.3787639,101.076556 C19.9033281,102.29597 18.0457827,103.021378 16.0279979,103.021378 C15.6804015,103.021378 15.3365029,103.001878 15,102.958977 C16.9068498,104.247292 19.1711569,105 21.6043317,105 C29.5300229,105 33.8614193,98.0761231 33.8614193,92.0713563 C33.8614193,91.8737542 33.858954,91.677452 33.8503258,91.4837498 C34.6921993,90.8428427 35.4243705,90.0420338 36,89.1307237 C35.2271527,89.4921277 34.3963726,89.7365304 33.526149,89.8457316 Z" id="Shape" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
                                </svg>
                            </a>
                        <div class="row marg-sm-top" *ngIf="twitterPost?.length>0">
                            <div class="col-sm-12" *ngFor="let twitter of twitterPost">
                                <div class="tweets-post-box">
                                    <div class="media">
                                        <div class="media-left">
                                                <span class="first-character">"</span>
                                        </div>
                                        <div class="media-body">
                                                <p>{{twitter.text}}</p>
                                                <span class="tweet-time">{{twitter.created_at | amTimeAgo}}</span><span class="tweet-author"><a target="_blank" href="{{twitter.postLink}}">View Tweet</a> </span>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
