<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Registration Details
        </h1>

    </div>
</div>
<div class="view-wrapper" fadeInDirective>
    <div class="form-group row">
        <label class="col-sm-2 form-control-label">Full Name</label>
        <label class="form-control-static">{{registrationObj.fullName}}</label>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 form-control-label">Email</label>
        <label class="form-control-static">{{registrationObj.email}}</label>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 form-control-label">Contact Number</label>
        <label class="form-control-static">{{registrationObj.contactNumber}}</label>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 form-control-label">Event Name</label>
        <label class="form-control-static">{{registrationObj.eventName}}</label>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 form-control-label">Date</label>
        <label class="form-control-static">{{registrationObj.addedOn}}</label>
    </div>
    <button type="button" (click)="triggerCancelView()" class="btn  btn-danger">Cancel</button>
</div>
