 <!--Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Event Registration
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin/dashboard']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-fw fa-calendar"></i> Event Registration
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row grid-wrapper" fadeInDirective *ngIf="!showDetail">
    <div class="col-lg-12">
        <nav class="jumbotron filter-wrapper">
            <div class="container">
                <form [formGroup]="filterForm" (ngSubmit)="filterRegistrations()">
                    <div class="col-lg-4">
                        <input type="text" formControlName="fullName" placeholder="Name">
                    </div>
                    <div class="col-lg-4">
                        <input type="number" formControlName="contactNumder" placeholder="Phone Number">
                    </div>
                    <div class="col-lg-4">
                        <select class="form-control" formControlName="eventName">
                            <option value="" selected>Select Event</option>
                            <option *ngFor="let obj of objVenueList" [value]="obj">{{obj}}</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </form>
            </div>
        </nav>

        <div class="table-responsive">
            <table class="tablesorter table table-bordered table-hover table-striped">
                <thead class="thead-inverse">
                <tr #colCount>
                    <th>SN</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th>Event name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody *ngIf="objListResponse?.dataList?.length>0">
                <tr *ngFor="let obj of objListResponse.dataList let i=index">
                    <td>{{preIndex+(i+1)}}</td>
                    <td>{{obj.fullName}}</td>
                    <td>{{obj.email}}</td>
                    <td>{{obj.contactNumber}}</td>
                    <td>{{obj.eventName}}</td>
                    <td class="action">
                        <a class="fa fa-eye" title="View" (click)="view(obj)"
                           href="javascript:void(0)"></a>
                        <a class="fa fa-trash red-hover" (click)="delete(obj._id)"
                           title="Delete"
                           href="javascript:void(0)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="objListResponse?.dataList?.length==0">
                <tr>
                    <td [attr.colspan]="colCount.children.length">No Record Found</td>
                </tr>
                </tbody>
            </table>
            <div class="list-pagination" *ngIf="objListResponse?.dataList?.length>0">

                <p-paginator [rows]="perPage" [totalRecords]="objListResponse.totalItems"
                             [rowsPerPageOptions]="[5,10,20,50,100]" [first]="first"
                             (onPageChange)="pageChanged($event)"></p-paginator>

            </div>
        </div>

    </div>

</div>

<registration-detail *ngIf="showDetail" [registrationObj]="registrationObj"
             (viewCancelEvent)="handleCancel($event)"></registration-detail>



