<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Image Album
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin/dashboard']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-picture-o"></i> Image Album
            </li>
        </ol>
    </div>
</div>
<div class="row grid-wrapper" fadeInDirective>
    <div class="col-lg-12">
        <nav class="jumbotron filter-wrapper">
            <a class="navbar-brand fa fa-plus-circle btn btn-primary" title="Add Album" (click)="addImgAlbum()"
                href="javascript:void(0)"> Add Album</a>
        </nav>
        <div class="table-responsive">
            <table class="tablesorter table table-bordered table-hover table-striped">
                <thead class="thead-inverse">
                    <tr #colCount>
                        <th>SN</th>
                        <th>Album Name</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="objListResponse?.dataList?.length>0">
                    <tr *ngFor="let obj of objListResponse.dataList let i=index">
                        <td>{{preIndex+(i+1)}}</td>
                        <td>{{obj.albumName}}</td>
                        <td [ngSwitch]="obj.active">
                            <i *ngSwitchCase="true" class="fa green fa-check" aria-hidden="true"></i>
                            <i *ngSwitchCase="false" class="fa red fa-times" aria-hidden="true"></i>
                        </td>
                        <td class="action">
                            <a class="fa fa-pencil-square-o" title="Edit" (click)="edit(obj._id)"
                                href="javascript:void(0)"></a>
                            <a class="fa fa-trash red-hover" title="Deleted" (click)="delete(obj._id)"  
                                href="javascript:void(0)"></a>
                            <a class="fa fa-picture-o purple-hover" title="Image List" (click)="showImageList(obj._id)"                                
                                href="javascript:void(0)"></a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="objListResponse?.dataList?.length==0">
                <tr>
                    <td [attr.colspan]="colCount.children.length">No Record Found</td>
                </tr>
                </tbody>
            </table>
            <div class="list-pagination" *ngIf="objListResponse?.dataList?.length>0">

                <p-paginator [rows]="perPage" [totalRecords]="objListResponse.totalItems"
                             [rowsPerPageOptions]="[5,10,20,50,100]" [first]="first"
                             (onPageChange)="pageChanged($event)"></p-paginator>

            </div>
        </div>
    </div>
</div>