<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Image Gallery
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin/dashboard']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-picture-o"></i> Image Gallery
            </li>
        </ol>
    </div>
</div>
<div class="row grid-wrapper" fadeInDirective>
    <div class="col-lg-12">
        <nav class="jumbotron filter-wrapper">
            <a class="navbar-brand fa fa-arrow-left" title="Back to Album" (click)="back()" href="javascript:void(0)"> Back to Album </a>
            <a class="navbar-brand fa fa-plus-circle btn btn-primary" title="Add Image" (click)="addImage()" href="javascript:void(0)"> Add Image </a>
        </nav>
        <div class="table-responsive">
            <table class="tablesorter table table-bordered table-hover table-striped">
                <thead class="thead-inverse">
                    <tr #colCount>
                        <th>SN</th>
                        <th>Image Title</th>
                        <th>Active</th>
                        <th>Cover Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="imgListResponse?.dataList?.length>0">
                    <tr *ngFor="let obj of imgListResponse.dataList let i=index">
                        <input type="hidden" *ngIf="obj.coverImage" #prevCoverImage [value]="obj._id">
                        <td>{{preIndex+(i+1)}}</td>
                        <td>{{obj.imageTitle}}</td>
                        <td [ngSwitch]="obj.active">
                            <i *ngSwitchCase="true" class="fa green fa-check" aria-hidden="true"></i>
                            <i *ngSwitchCase="false" class="fa red fa-times" aria-hidden="true"></i>
                        </td>
                        <td>
                            <input type="radio" name="rdbCoverImage" [value]="obj._id" [checked]="obj.coverImage" (change)="changeCoverImage($event)">
                        </td>
                        <td class="action">
                            <a class="fa fa-pencil-square-o" title="Edit" (click)="edit(obj._id)" href="javascript:void(0)"></a>
                            <a class="fa fa-trash red-hover" title="Delete" (click)="delete(obj._id)" href="javascript:void(0)"></a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="imgListResponse?.dataList?.length==0">
                    <tr>
                        <td [attr.colspan]="colCount.children.length">No Record Found</td>
                    </tr>
                </tbody>
            </table>

            <div class="list-pagination" *ngIf="imgListResponse?.dataList?.length>0">

                <p-paginator [rows]="perPage" [totalRecords]="imgListResponse.totalItems"
                             [rowsPerPageOptions]="[5,10,20,50,100]" [first]="first"
                             (onPageChange)="pageChanged($event)"></p-paginator>

            </div>

        </div>
    </div>
</div>