<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Image Album
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin/dashboard']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-picture-o"></i> Image Album Editor
            </li>
        </ol>
    </div>
</div>
<div class="row form-outer" fadeInDirective>
    <div class="col-lg-12 form-wrapper">
        <form role="form" novalidate [formGroup]="imgAlbumForm" (ngSubmit)="saveAlbum()">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Album Name</label>
                    <input type="text" class="form-control" placeholder="Enter Album Name" formControlName="albumName">
                    <control-messages  [isSubmitted]="isSubmitted"
                                      [control]="imgAlbumForm.controls['albumName']"></control-messages>
                </div>
                <div class="form-group">
                    <label>Album Description</label>
                    <textarea class="form-control" placeholder="Enter Album Description"
                          formControlName="albumDescription">
                    </textarea>
                    <control-messages  [isSubmitted]="isSubmitted"
                                      [control]="imgAlbumForm.controls['albumDescription']"></control-messages>

                </div>
                <div class="form-group">
                    <label>
                        <md-checkbox  formControlName="active">
                            Active
                        </md-checkbox>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary" processing > <i class="fa fa-floppy-o"></i> Save</button>
                            <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel</button>
            </div> 
        </form>
    </div>
</div>

<!--[checked]="objAlbum.active"-->