<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Image Gallery
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin/dashboard']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-picture-o"></i> Image Gallery Editor
            </li>
        </ol>
    </div>
</div>
<div class="row form-outer" fadeInDirective>
  <div class="col-lg-12 form-wrapper">
    <form role="form" novalidate [formGroup]="imgGalleryForm" (ngSubmit)="saveImgGallery()">
      <div class="col-lg-6">
        <div class="form-group">
          <label>Image Title</label>
          <input type="text" class="form-control" placeholder="Enter Image Title"
                 formControlName="imageTitle">
          <control-messages [isSubmitted]="isSubmitted"
                            [control]="imgGalleryForm.controls['imageTitle']"></control-messages>
        </div>
        <div class="form-group">
          <label>Image Alt Text</label>
          <input type="text" class="form-control" placeholder="Enter alternate text"
                 formControlName="imageAltText">
          <control-messages [isSubmitted]="isSubmitted"
                            [control]="imgGalleryForm.controls['imageAltText']"></control-messages>
        </div>
        <div class="form-group">
          <image-uploader [isSubmitted]="isSubmitted" [canvasSize]="canvasSize"
                          [imageFormControl]="imageFormControl"
                          (deleteImageEvent)="deleteImage($event)"
                          [imageName]="objImgGallery.imageName" [drawImagePath]="drawImagePath"
                          allowDelete="true"
                          (fileSelectedEvent)="changeFile($event)"></image-uploader>
        </div>
        <div class="form-group">
          <label>
            <md-checkbox formControlName="active">
              Active
            </md-checkbox>
          </label>
        </div>
        <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i> Save</button>
        <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel
        </button>
      </div>
    </form>
  </div>
</div>
        