<div [hidden]="hide" class="spinner-wrapper animated" [class.posFixed]="fixedPosition" [class.fadeIn]="showSpinner" [class.fadeOut]="!showSpinner">
  <div class="spinner-back" [class.bgOverlay]="bgOverlay"></div>
  <div class="spinner" [class.topMargin]="topMargin">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>
