<div class="row form-outer" fadeInDirective>
  <div class="col-lg-12 form-wrapper">
    <form role="form" novalidate [formGroup]="eventForm" (ngSubmit)="saveEvent()">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label>Event Title</label>
            <input tabindex="1" type="text" class="form-control" [(ngModel)]="objEvent.eventTitle"
                  name="eventTitle"
                  placeholder="Enter Event Title"
                  [formControl]="eventForm.controls['eventTitle']">
            <control-messages [isSubmitted]="isSubmitted"
                              [control]="eventForm.controls['eventTitle']"></control-messages>

          </div>
          <div class="form-group">
            <label>Event Description</label>
            <textarea tabindex="2" class="form-control" [(ngModel)]="objEvent.eventDescription"
                      name="eventTitle"
                      placeholder="Enter Event Description"
                      rows="5"
                      [formControl]="eventForm.controls['description']"></textarea>
            <control-messages [isSubmitted]="isSubmitted"
                              [control]="eventForm.controls['eventTitle']"></control-messages>

          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
            <div class="form-group marg-md-top">
              <label>Venue</label>
              <input tabindex="3" type="text" class="form-control" [(ngModel)]="objEvent.venue"
                      placeholder="Enter Venue"
                      [formControl]="eventForm.controls['venue']">
              <control-messages [isSubmitted]="isSubmitted" [control]="eventForm.controls['venue']"></control-messages>
    
            </div>
            <div class="form-group">
              <label>Start Date/Time (yyyy/mm/dd)</label>
              <p-calendar tabindex="5" [(ngModel)]="objEvent.startDate" [formControl]="eventForm.controls['startDate']"
                          [showIcon]="true" [minDate]="today" [maxDate]="objEvent.endDate"
                          timeFormat="HH:mm" [showTime]="true"
                          inputStyleClass="form-control, inline-cal"
                          dateFormat="yy-mm-dd"></p-calendar>
              <control-messages [isSubmitted]="isSubmitted"
                                [control]="eventForm.controls['startDate']"></control-messages>
            </div>
            <div class="form-group">
              <label>End Date/Time (yyyy/mm/dd)</label>
              <p-calendar tabindex="6" [(ngModel)]="objEvent.endDate" [showIcon]="true"
                          [minDate]="objEvent.startDate?objEvent.startDate:today" timeFormat="HH:mm"
                          inputStyleClass="form-control, inline-cal" [showTime]="true"
                          [formControl]="eventForm.controls['endDate']"
                          allowDelete="true"
    
                          dateFormat="yy-mm-dd"></p-calendar>
              <control-messages [isSubmitted]="isSubmitted"
                                [control]="eventForm.controls['endDate']"></control-messages>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group marg-md-top ">
              <label>Venue Address</label>
              <textarea tabindex="4" class="form-control" [(ngModel)]="objEvent.venueAddress"
                        name="venueAddress"
                        placeholder="Enter Venue Address"
                        rows="5"
                        [formControl]="eventForm.controls['venueAddress']"></textarea>
              <control-messages [isSubmitted]="isSubmitted"
                                [control]="eventForm.controls['venueAddress']"></control-messages>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class=" marg-xs-top " #uploader>
              <image-uploader tabindex="7" [canvasSize]="canvasSize" [imageFormControl]="imageFormControl"
                              (deleteImageEvent)="deleteImage($event)"
                              [imageName]="fileName" [drawImagePath]="drawImagePath"
                              [isSubmitted]="isSubmitted"
                              allowDelete="true"
                              (fileSelectedEvent)="changeFile($event)"></image-uploader>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group ">
              <label>
                <md-checkbox [checked]="objEvent.active" formControlName="active"
                              [(ngModel)]="objEvent.active">
                  Active
                </md-checkbox>
              </label>
            </div>
          </div>
        <div class="col-lg-12">
          <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i> Save</button>
          <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

