<div class="bg-pattern" id="photos">
    <div class="container">
        <div class="image-box">
            <a [routerLink]="['/']"><img src="http://res.cloudinary.com/dc6pd5nwv/image/upload/v1511419050/hobsir2_dp1c8o.png" alt="Hob Khadka"></a>
        </div>
    </div>
</div>
    <div class="container-box">
        <div class="container">
            <h2 class="text-uppercase">Photos</h2>
            <p>Collection of pictures of my journey<br> around the world</p>
            <div class="row" *ngIf="galleryList?.dataList?.length>0">
                <div class=" col-sm-6 col-md-4 col-lg-4 " *ngFor="let album of galleryList?.dataList">
                    <div class="album-box marg-sm-top">
                        <div class="album-title">
                            <p class="link-red text-uppercase">
                                    {{album.albumName}}</p>
                        </div>
                        <div class="blog-image-box">
                            <div class="border-box1">
                                <div class="border-box2">
                                    <a href="javascript:void(0)" (click)="showGalleryFunction(album._id, album.albumName)"><img [src]="album.image.imageName" alt="{{album.image.imageAltText}}"> </a>
                                </div>
                                <span class="text-uppercase album-date">{{album.addedOn | date: 'MMM d'}}</span>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <nav aria-label="..." class="text-center marg-sm-top" *ngIf="pageLimit>index">
                <ul class="pagination">
                    <li class="page-item disabled" *ngIf="index>1" [class.disabled]="index <= 1">
                        <a class="page-link" href="javascript:void(0)" (click)="decreaseIndex()">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" *ngIf="index<=pageLimit" [class.active-pagination]="index == currentPage" [routerLink]="['/image-gallery']" [queryParams]="{page: index}">{{index}}</a></li>
                    <li class="page-item">
                            <a class="page-link" *ngIf="(index+1)<=pageLimit" [class.active-pagination]="(index + 1) == currentPage" [routerLink]="['/image-gallery']" [queryParams]="{page: index+ 1}">{{index + 1}}</a>
                    </li>
                    <li class="page-item"><a class="page-link" *ngIf="(index+2)<=pageLimit" [class.active-pagination]="(index + 2) == currentPage" [routerLink]="['/image-gallery']" [queryParams]="{page: index + 2}">{{index + 2}}</a></li>
                    <li class="page-item" [class.disabled]="(pageLimit-2) <= index">
                            <a class="page-link" href="javascript:void(0)" (click)="increaseIndex()">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <image-light-box (showGalleryImages)="GalleryImageCloseButton()" [albumId]="albumId" [albumName]="albumName" *ngIf="showGallery"></image-light-box>
    