<section class="marg-sm-top">
    <div class="bg-overlay">
        <button type="button" class="cancel-button" (click)="hideGallery()"><span aria-hidden="true">&times;</span></button>
        <div class="container">
            <div class="row" *ngIf="imgListResponse?.dataList?.length>0">
                <div class="col-xs-12" >
                    <div class="image-light-box">
                        <div class="left-arrow" (click)="decreaseIndex()">
                            <span class="icon-chevron-left"></span>
                        </div>
                        <div class="light-box-slider">
                            <div class="light-box-img">
                                <img [src]="imgListResponse.dataList[index].imageName" alt="{{imgListResponse.dataList[index].imageAltText}}"/>
                                <p><b>{{imgListResponse.dataList[index].imageTitle}}</b></p>
                            </div>
                        </div>
                        <div class="right-arrow" (click)="increaseIndex()">
                            <span class="icon-chevron-right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>