.image-light-box{position: relative;}
.light-box-slider p{color: #fff;font-size: 20px;}
.light-box-img{width: 100%; margin: 60px auto; text-align: center;}
/* .light-box-img img{width: 100%; border: 1px solid #fff;padding: 5px;} */
.left-arrow, .right-arrow{width: 100px; cursor: pointer; position: absolute; text-align: center;transition: all .3 ease-in-out;    top: 50%;transform: translatey(-50%);}
.left-arrow{left: 0 ;}
.right-arrow{right: 0 ;}

.left-arrow .icon-chevron-left:before, .right-arrow .icon-chevron-right:before{display: block;cursor: pointer; text-align: center;}
.left-arrow .icon-chevron-left:before{top:50%;  transform:translateY(-50%); left:0; transform:translateY(-50%);}
.right-arrow .icon-chevron-right:before{top:50%;  transform:translateY(-50%);right: 0; transform:translateX(-50%); }
.cancel-button { border:none; background:none;position: absolute; top: 25px; right: 15px; color:#fff; font-weight:bold;font-size: 30px; z-index: 10000; opacity: 1;}
@media screen and (min-width:768px) {
.light-box-img{margin: 25px auto; }
}
