<!--<topnav></topnav>-->
<!--****************************************Head Banner Section***************************-->
<div>
    <nav-bar></nav-bar>
         
    <router-outlet>

    </router-outlet>
        <!--****************************************footer section***************************-->
        <contact></contact>
        
        <div class="circle-btn scrollup" >
            <span class="icon-chevron-up"></span>
        </div>
</div>
