<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Testimonial Editor
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin/dashboard']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-fw fa-commenting-o"></i> Testimonial Editor
            </li>
        </ol>
    </div>
</div>
<div class="row form-outer" fadeInDirective>
  <div class="col-lg-12 form-wrapper">
    <form role="form" novalidate [formGroup]="testimonialForm" (ngSubmit)="saveTestimonial()">

      <div class="form-group">
        <label>Person Name</label>
        <input type="text" class="form-control" placeholder="Enter Person Name"
               formControlName="personName">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="testimonialForm.controls['personName']"></control-messages>
      </div>
      <div class="form-group">
        <label>Organization</label>
        <input type="text" class="form-control" placeholder="Enter Organization"
               formControlName="organization">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="testimonialForm.controls['organization']"></control-messages>
      </div>
      <div class="form-group">
        <label>Designation</label>
        <input type="text" class="form-control" formControlName="designation"
               placeholder="Enter Designation">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" placeholder="Enter Email" formControlName="email">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="testimonialForm.controls['email']"></control-messages>
      </div>
      <div>
        <label>Testimonial Content</label>
        <textarea class="form-control" rows="10" placeholder="Enter Testimonial Content"
                  formControlName="testimonialContent">
        </textarea>
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="testimonialForm.controls['testimonialContent']"></control-messages>
      </div>
      <div class="form-group">
        <label>Facebook Page URL <i class="fa fa-facebook color" aria-hidden="true"></i></label>
        <input class="form-control" formControlName="facebookURL" type="text" 
                  placeholder="Enter Facebook Page URL">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="testimonialForm.controls['facebookURL']"></control-messages>

      </div>
      <div class="form-group">
        <label>Twitter URL <i class="fa fa-twitter color" aria-hidden="true"></i></label>
        <input class="form-control" formControlName="twitterURL" type="text"
               placeholder="Enter Twitter URL">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="testimonialForm.controls['twitterURL']"></control-messages>

      </div>
      <div class="form-group">
        <label>Google Plus URL <i class="fa fa-google-plus color" aria-hidden="true"></i></label>
        <input class="form-control" formControlName="gPlusURL" type="text"
               placeholder="Enter Google Plus URL">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="testimonialForm.controls['gPlusURL']"></control-messages>

      </div>
      <div class="form-group">
        <label>LinkedIn Page URL <i class="fa fa-linkedin color" aria-hidden="true"></i></label>
        <input class="form-control" formControlName="linkedInURL" type="text"
               placeholder="Enter LinkedIn Page URL">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="testimonialForm.controls['linkedInURL']"></control-messages>

      </div>

      <div>
        <image-uploader [isSubmitted]="isSubmitted" [canvasSize]="canvasSize"
                        [imageFormControl]="imageFormControl" (deleteImageEvent)="deleteImage($event)"
                        [imageName]="objTestimonial.imageName" [drawImagePath]="drawImagePath"
                        allowDelete="true"
                        (fileSelectedEvent)="changeFile($event)"></image-uploader>

      </div>
      <div>
        <label>
          <md-checkbox formControlName="active">
            Active
          </md-checkbox>
        </label>
      </div>
      <div class="marg-sm-top">
          <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i> Save</button>
          <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel
          </button>
      </div>
    </form>
  </div>
</div>

