<footer class="bg-black" id="contact">
    <div class="dark-bg">
        <div class="container">

            <div style="display: inline-block; margin-bottom:60px;">

                <a href="javascript:void(0)" (click)="showContact()" class="btn-inline-red">Contact me</a>

            </div>

            <div style="max-width:570px; margin:0 auto;" class="align-center text-muted">
                Copyright @2017
                <br/> All rights Researved Any inofrmation mentioned on this page is verified. If you find anything that needed
                corrections, Please send email at info@hobkhadka.com. Also if you encounter any technical issue on the whole
                website, don’t hesitate to contact me.
            </div>
        </div>
    </div>
    <!--****************************************contact section***************************-->
    <div class="bg-contact" *ngIf="showContactStatus">
            <button type="button" class="close-btn-color" (click)="showContact()"><span aria-hidden="true">&times;</span></button>            
        <!-- <div class="container"> -->
            <div class="contact-box">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="text-uppercase">Contact hob... </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                            <div class="row flex-box">
                                <div class="col-s-12 col-sm-6 ">
                                    <input type="text" formControlName="fullName" placeholder="Full Name" />
                                    <control-messages [control]="contactForm.controls.fullName" [isSubmitted]="isSubmitted"></control-messages>
                                    <input type="text" formControlName="email" placeholder="Email" />
                                    <control-messages [control]="contactForm.controls.email" [isSubmitted]="isSubmitted"></control-messages>
                                    <input type="text" formControlName="subject" placeholder="Subject" />
                                    <control-messages [control]="contactForm.controls.subject" [isSubmitted]="isSubmitted"></control-messages>
                                </div>
                                <div class="col-xs-12 col-sm-6 ">
                                    <div class="svg-icon-box">
                                        <img src="../../assets/img-hob/write.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 marg-sm-btm">
                                    <textarea cols="30" rows="10" formControlName="message" placeholder=" Type your message.."></textarea>
                                    <control-messages [control]="contactForm.controls.message" [isSubmitted]="isSubmitted"></control-messages>
                                </div>
                            </div>
                            <div class="row">
                                <div class="button-box text-right">
                                    <div class="col-12">
                                        <a type="button" class="cancel-btn text-uppercase" name="submit" (click)="showContact()">Cancel</a>
                                        <button processing type="submit" name="submit" class="text-uppercase">
                                            <b>Submit</b>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            <!-- </div> -->
        </div>
    </div>
</footer>

<!-- <p-growl [(value)]="msgs"></p-growl> -->