<div class="row form-outer" fadeInDirective>
    <div class="col-lg-12 form-wrapper">
        <form role="form" novalidate [formGroup]="htmlForm" (ngSubmit)="saveHtmlEditor()">
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" [(ngModel)]="objHtml.htmlContentTitle" name="title"
                       placeholder="Enter Title" [formControl]="htmlForm.controls['title']">
                <control-messages  [isSubmitted]="isSubmitted" [control]="htmlForm.controls['title']"></control-messages>
            </div>
            <div>
                <label>Html Content</label>
                <!--<ckeditor [editorFormControl]="editorFormControl" [editorFormControl]="editorFormControl [value]="objHtml.templateBody"-->
                <!--(valueChange)="changeEditor($event)"></ckeditor>-->
                <tiny-editor [isSubmitted]="isSubmitted" module="html" [editorFormControl]="editorFormControl"
                             [value]="objHtml.htmlModuleContent"
                             (valueChange)="editorValueChange($event)"></tiny-editor>
            </div>
            <div class="form-group">
                <label>
                    <md-checkbox [checked]="objHtml.active" formControlName="active"
                                 [(ngModel)]="objHtml.active">
                        Active
                    </md-checkbox>
                </label>
            </div>

            <button type="submit" class="btn btn-primary" processing ><i class="fa fa-floppy-o"></i> Save</button>
                        <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel</button>
        </form>
    </div>
</div>

