<!-- Page Heading -->


<div class="row">
    <div class="col-lg-12 ">
        <h1 class="page-header">
            Error Log
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-stack-overflow"></i> Error Log
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row" fadeInDirective>
    <div class="col-lg-12">
        <nav class="jumbotron filter-wrapper">
            <div class="container">
                <a class="fa fa-trash navbar-brand btn btn-primary" title="Delete all Log"
                   (click)="deleteAllLog()"
                   href="javascript:void(0)"> Clear All Log</a>
                <div class="row">
                    <div class="col-lg-2 ">
                        <p-calendar [formControl]="startDate"
                                    placeholder="Select Start Date" [showIcon]="true" [maxDate]="endDate.value"
                                    inputStyleClass="form-control, inline-cal"
                                    dateFormat="yy-mm-dd"></p-calendar>
                    </div>
                    <div class="col-lg-2">
                        <p-calendar [formControl]="endDate" [showIcon]="true"
                                    placeholder="Select End Date" [minDate]="startDate.value"
                                    inputStyleClass="form-control, inline-cal"
                                    dateFormat="yy-mm-dd"></p-calendar>
                    </div>
                    <div class="col-lg-2  ">
                        <div class="search-button">
                            <a class="fa fa-search" title="Search Log"
                            (click)="search()"
                            href="javascript:void(0)"></a>
                        </div>
                    </div>
                    <div class="col-lg-2  ">
                        <div class="search-button">
                            <a class="fa fa-paper-plane" title="Send Error Log to Support"
                            (click)="sendEmailToSupport()"
                            href="javascript:void(0)"> Notify Log</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="table-responsive">
            <table class="tablesorter table table-bordered table-hover table-striped">
                <thead class="thead-inverse">
                <tr #colCount>
                    <th>SN</th>
                    <th>Type</th>
                    <th>Notified</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody *ngIf="objResponse?.dataList?.length>0">
                <tr *ngFor="let obj of objResponse?.dataList let i=index">
                    <td>{{preIndex+(i+1)}}</td>
                    <td>{{obj.errorType}}</td>
                    <td>{{obj.errorNotified}}</td>
                    <td>{{changeDateFormat(obj.addedOn)}}</td>
                    <td class="action">
                        <a class="fa fa-eye" (click)="showDetail(i)" title="View"
                           href="javascript:void(0)"></a>

                        <a class="fa fa-trash red-hover" title="delete" (click)="deleteLogById(obj._id)"
                           href="javascript:void(0)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="objResponse?.dataList?.length==0">
                <tr>
                    <td [attr.colspan]="colCount.children.length">No Record Found</td>
                </tr>
                </tbody>
            </table>
            <div class="list-pagination" *ngIf="objResponse?.dataList?.length>0">
                <p-paginator [rows]="perPage" [totalRecords]="objResponse.totalItems"
                             [rowsPerPageOptions]="[5,10,20,50,100]" [first]="first"
                             (onPageChange)="pageChanged($event)"></p-paginator>
            </div>

        </div>
    </div>
</div>
<p-dialog header="Error Stack" minWidth="600" minHeight="500" width="900" height="500"
          resizable="false"
          responsive="true"
          [(visible)]="showModal"
          showEffect="fade">
    {{objLog.errorStack}}
</p-dialog>
