<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Newsletter
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin/dashboard']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file-text-o"></i> Newsletter
            </li>
        </ol>
    </div>

    <div class="row grid-wrapper" fadeInDirective *ngIf="!showForm">
      <div class="col-lg-12">
          <nav class="jumbotron filter-wrapper">
            <div class="container">
              <div class="col-lg-3">
                <label class="control-label">Subscribed</label>
                <div class="subscribe-dropdown">
                  <select placeholder="Subscribed" [(ngModel)]="subscribed" floatPlaceholder="auto" name="subscribed" class="form-control ">
                      <option [value]="true">true</option>
                      <option [value]="false">false</option>
                  </select>
                </div>
              </div>
                  <a class="fa fa-search search-button search-button-tag" title="Search Log"
                    (click)="search()"
                    href="javascript:void(0)"></a>
              </div>
          </nav>

        <!---->
          <div class="table-responsive" >
              <table class="tablesorter table table-hover table-striped">
                <thead class="table-inverse ">
                <tr #colCount>
                  <th>SN</th>
                  <th>Email</th>
                  <th>Subscribed</th>
                  <th>Subscribed Date</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let obj of objResponse?.dataList let i=index">
                  <td>{{preIndex+(i+1)}}</td>
                  <td>{{obj.email}}</td>
                  <td>{{obj.subscribed}}</td>
                  <td>{{obj.addedOn  | date: 'yyyy/MM/dd' }}</td>
                </tr>
                </tbody>
                <tbody *ngIf="objResponse?.dataList?.length==0">
                <tr>
                  <td [attr.colspan]="colCount.children.length">No Record Found</td>
                </tr>
                </tbody>
              </table>
              <div class="list-pagination" *ngIf="objResponse?.dataList?.length>0">

                <p-paginator [rows]="perPage" [totalRecords]="objResponse.totalItems"
                            [rowsPerPageOptions]="[5,10,20,50,100]" [first]="first"
                            (onPageChange)="pageChanged($event)"></p-paginator>

              </div>
            </div>
        <!---->
      </div>

    </div>
</div>