<div class="row form-outer" fadeInDirective>
  <div class="col-lg-12 form-wrapper">
    <h1 class="page-header">
      Course Editor 
    </h1>
    <form role="form" novalidate [formGroup]="courseForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Semester Name</label>
        <select class="form-control" formControlName="semesterName">
          <option value="">Select Semester</option>
            <option *ngFor="let obj of objSemList.dataList" [value]="obj.semesterName">{{obj.semesterName}}</option>
        </select>
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="courseForm.controls.semesterName"></control-messages>
      </div>
      <div class="form-group">
        <label>Course Name</label>
        <input class="form-control" name="courseName"
               placeholder="Enter Course Name" formControlName="courseName">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="courseForm.controls.courseName"></control-messages>
      </div>
      <div class="form-group">
        <label>Course Code</label>
        <input class="form-control" name="courseCode"
            placeholder="Enter Course Code" formControlName="courseCode">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="courseForm.controls.courseCode"></control-messages>
      </div>
      <div class="form-group">
        <label>Credit Hours </label>
        <input class="form-control" name="creditHours"
               placeholder="Enter Credit Hours" formControlName="creditHours">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="courseForm.controls.creditHours"></control-messages>
      </div>

      <button type="submit" class="btn btn-primary" processing>Save</button>
      <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel
      
      </button>
    </form>
  </div>
</div>

