<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Course Management
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin/dashboard']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-book"></i> Course Managment
            </li>
        </ol>
    </div>
</div>

<p-tabView (onChange)="tabSwitch($event)">

    <p-tabPanel header="Course"  >
        <!--<course-list *ngIf="isCourseList" [showForm]="!isCourseList" ></course-list>-->
    </p-tabPanel>
    
    <p-tabPanel header="Specialization" >
        <!--<semester-list *ngIf="isSemList" ></semester-list>-->
    </p-tabPanel>
    
    <p-tabPanel header="Semester" >
        <!--<semester-list *ngIf="isSemList" ></semester-list>-->
    </p-tabPanel>


  <!--<p-tabPanel header="Specialization" >
    <blog-category-list *ngIf="isCatList" [showList]="isCatList"></blog-category-list>

  </p-tabPanel>-->
<router-outlet></router-outlet>
  
</p-tabView>


