<script src="../newsletter/newsletter-list.component.ts"></script>
<script src="../notice/notice-editor.component.ts"></script>
<script src="course-list.component.ts"></script>
<div class="row grid-wrapper" fadeInDirective [hidden]="showForm">
    <div class="col-lg-12">
        <nav class="jumbotron filter-wrapper">
            <div class="container">
                <a class="navbar-brand fa fa-plus-circle btn btn-primary" title="Add News" (click)="addCourse()"
                   href="javascript:void(0)"> Add Course</a>
                <div class="col-lg-4">
                    <select class="form-control" (change)="semesterFilter($event)">
                        <option *ngFor="let obj of objSemList.dataList" value="{{obj.semesterName}}">{{obj.semesterName}}</option>
                    </select>
                </div>

            </div>
        </nav>
        <div class="table-responsive">
            <table class="tablesorter table table-bordered table-hover table-striped">
                <thead class="thead-inverse">
                <tr #colCount>
                    <th>SN</th>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Credit Hours</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody *ngIf="objListResponse?.length>0">
                <tr *ngFor="let obj of objListResponse let i=index">
                    <td>{{i+1}}</td>
                    <td>{{obj.courseCode}}</td>
                    <td>{{obj.courseName}}</td>
                    <td>{{obj.creditHours}}</td>
                    <td class="action">
                        <a class="fa fa-pencil-square-o" title="Edit" (click)="edit(obj._id)"
                           href="javascript:void(0)"></a>
                        <a class="fa fa-trash red-hover" (click)="delete(obj._id)"
                           title="Delete"
                           href="javascript:void(0)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="objListResponse?.length==0">
                <tr>
                    <td [attr.colspan]="colCount.children.length">No Record Found</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<course-editor *ngIf="showForm" [courseId]="courseId"
             (showListEvent)="showCourseList($event)"></course-editor>
