<div class="row form-outer" fadeInDirective>
    <div class="col-lg-12 form-wrapper">
        <form role="form" novalidate [formGroup]="semesterForm" (ngSubmit)="onSubmit()">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Semester Name</label>
                    <input type="text" class="form-control"
                           placeholder="Example: Semester I, Semester II" 
                           formControlName="semesterName">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="semesterForm.controls.semesterName"></control-messages>
                </div>

                <div class="form-group">
                    <label>Semester Credit</label>
                    <input type="text" class="form-control"
                           placeholder="Semester Credit (in hours)" 
                           formControlName="semesterCredit">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="semesterForm.controls.semesterCredit"></control-messages>
                </div>
                <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i>  Save</button>
                <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel
                </button>

            </div>

        </form>
    </div>
</div>

