<div class="row form-outer" fadeInDirective>
    <div class="col-lg-12 form-wrapper">
        <form role="form" novalidate [formGroup]="specializationForm" (ngSubmit)="onSubmit()">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Specialization Name</label>
                    <input type="text" class="form-control"
                           placeholder="Specialization Name" 
                           formControlName="name">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="specializationForm.controls.name"></control-messages>
                </div>

                <div class="form-group">
                    <label>Credit Hours</label>
                    <input type="text" class="form-control"
                           placeholder="Credit Hours" 
                           formControlName="creditHours">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="specializationForm.controls.creditHours"></control-messages>
                </div>
            </div>

            <div class="col-lg-12">
                <label>Specialization Description</label>
                <tiny-editor module="course" [isSubmitted]="isSubmitted" [value]="objSpecialization.description"
                            [editorFormControl]="editorFormControl"
                            (valueChange)="editorValueChange($event)"></tiny-editor>
            </div>
            <div class="col-lg-6 marg-sm-top">
                <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i>  Save</button>
                <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel
                </button>
            </div>
        </form>
    </div>
</div>

