<div class="row form-outer" fadeInDirective>
    <div class="col-lg-12 form-wrapper">
        <h1 class="page-header">
            Blog Document Editor
        </h1>
        <form role="form" novalidate [formGroup]="blogDocForm" (ngSubmit)="saveBlogDoc()">
            <div class="col-lg-6">
                <div class="form-group">
                  <!--<input type="hidden" formControlName="_id" value="{{objBlogDoc._id}}"/>-->
                    <label>Document Title</label>
                    <input type="text" class="form-control" placeholder="Enter Document Title"
                           formControlName="documentTitle" value="{{objBlogDoc.documentTitle}}">
                    <control-messages [isSubmitted]="isSubmitted"
                                      control="blogDocForm.controls['documentTitle']"></control-messages>
                </div>
                <div class="form-group">
                    <doc-uploader [isSubmitted]="isSubmitted"
                                  [allowedExt]="allowedExt"
                                  [allowedSize]="allowedSize"
                                  [docFormControl]="docFormControl"
                                  (deleteFileEvent)="onDeleteFile($event)"
                                  [fileName]="fileName"
                                  (fileSelectedEvent)="onFileSelect($event)"></doc-uploader>
                </div>
                <div class="form-group">
                    <label>
                        <md-checkbox [checked]="objBlogDoc.active" formControlName="active" value="{{objBlogDoc.active}}">
                            Active
                        </md-checkbox>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary" processing >Save</button>
                <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel
                </button>
            </div>
        </form>
    </div>
</div>

