<div class="row grid-wrapper" fadeInDirective>
    <div class="col-lg-12">
        <nav class="jumbotron filter-wrapper">
            <a class="navbar-brand fa fa-plus-circle btn btn-primary" title="Add News" (click)="addNews()"
                href="javascript:void(0)"> Add Blog</a>
            <div class="col-lg-4">
                <select class="form-control" (change)="categoryFilter($event)">
                    <option value="" selected>Select Category</option>
                    <option *ngFor="let cat of objCatList.dataList" [value]="cat._id">{{cat.categoryName}}</option>
                </select>
            </div>
        </nav>
        <div class="table-responsive">
            <table class="tablesorter table table-bordered table-hover table-striped">
                <thead class="thead-inverse">
                <tr #colCount>
                    <th>SN</th>
                    <th>Blog Title</th>
                    <th>Blog Author</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody *ngIf="objListResponse?.dataList?.length>0">
                <tr *ngFor="let obj of objListResponse.dataList let i=index">
                    <td>{{preIndex+(i+1)}}</td>
                    <td>{{obj.blogTitle}}</td>
                    <td>{{obj.author}}</td>

                    <td [ngSwitch]="obj.active">
                        <i *ngSwitchCase="true" class="fa green fa-check" aria-hidden="true"></i>
                        <i *ngSwitchCase="false" class="fa red fa-times" aria-hidden="true"></i>
                    </td>
                    <td class="action">
                        <a class="fa fa-pencil-square-o" title="Edit" (click)="editBlog(obj._id)"
                           href="javascript:void(0)"></a>
                        <a class="fa fa-trash red-hover" (click)="deleteBlog(obj._id)"
                           title="Delete"
                           href="javascript:void(0)"></a>
                        <a class="fa fa-file-text-o orange-hover" (click)="showDocList(obj._id)"
                           title="Document List"
                           href="javascript:void(0)"></a>
                        <a class="fa fa-tag purple-hover" (click)="showMetaForm(obj.seoEntry._id)"
                           title="Meta Tag"
                           href="javascript:void(0)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="objListResponse?.dataList?.length==0">
                <tr>
                    <td [attr.colspan]="colCount.children.length">No Record Found</td>
                </tr>
                </tbody>
            </table>
            <div class="list-pagination" *ngIf="objListResponse?.dataList?.length>0">


                <p-paginator [rows]="perPage" [totalRecords]="objListResponse.totalItems"
                             [rowsPerPageOptions]="[5,10,20,50,100]" [first]="first"
                             (onPageChange)="pageChanged($event)"></p-paginator>

            </div>

        </div>
    </div>
</div>
