<div class="row grid-wrapper" fadeInDirective>
    <div class="col-lg-12">
        <div class="jumbotron filter-wrapper">
            <div class="container">
                <a class="navbar-brand fa fa-plus-circle btn btn-primary" title="Add News Category"
                   (click)="addCategory()"
                   href="javascript:void(0)"> Add Blog Category</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="tablesorter table table-bordered table-hover table-striped">
                <thead class="thead-inverse">
                <tr #colCount>
                    <th>SN</th>
                    <th>Blog Category</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let obj of objListResponse.dataList let i=index">
                    <td>{{i+1}}</td>
                    <td>{{obj.categoryName}}</td>
                    <td>
                        <i *ngIf="obj.active" class="fa green fa-check" aria-hidden="true"></i>
                        <i *ngIf="!obj.active" class="fa red fa-times" aria-hidden="true"></i>
                    </td>
                    <td class="action">
                        <a class="fa fa-pencil-square-o" title="Edit" (click)="edit(obj._id)"
                           href="javascript:void(0)"></a>
                        <a class="fa fa-trash red-hover" (click)="delete(obj._id)" title="Delete"
                           href="javascript:void(0)"></a>

                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="objListResponse?.dataList?.length==0">
                <tr>
                    <td [attr.colspan]="colCount.children.length">No Record Found</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>