<div class="row form-outer" fadeInDirective>
    <div class="col-lg-12 form-wrapper">
        <form role="form" novalidate [formGroup]="blogCategoryForm" (ngSubmit)="saveBlogCategory()">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Category Name</label>
                    <input type="text" class="form-control" placeholder="Enter Category"
                           formControlName="categoryName" value="{{objBlogCat.categoryName}}">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="blogCategoryForm.controls.categoryName"></control-messages>
                </div>
                <div class="form-group">
                    <label>Category Description</label>
                    <textarea class="form-control" placeholder="Enter Category Description"
                              formControlName="categoryDescription" value="{{objBlogCat.categoryDescription}}">
                    </textarea>
                    <div class="alert-info" *ngIf="blogCategoryForm.controls['categoryDescription'].hasError('required') && blogCategoryForm.controls['categoryDescription'].touched">
                      Please Provide Category Description
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        <md-checkbox [checked]="objBlogCat.active" formControlName="active" value="{{objBlogCat.active}}" >
                            Active
                        </md-checkbox>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i>  Save</button>
                <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel
                </button>
            </div>
        </form>
    </div>
</div>

