<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Blog Management
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-newspaper-o"></i> Blog Managment
            </li>
        </ol>
    </div>
</div>

<p-tabView (onChange)="tabSwitch($event)">

    <p-tabPanel header="Blog"  >
    </p-tabPanel>
  <p-tabPanel header="Blog Category" >
     </p-tabPanel>
</p-tabView>
<router-outlet></router-outlet>
