<div class="bg-pattern" id="video">
        <div class="container">
            <div class="image-box">
                <a [routerLink]="['/']"><img src="http://res.cloudinary.com/dc6pd5nwv/image/upload/v1511419050/hobsir2_dp1c8o.png" alt="Hob Khadka"></a>
            </div>
        </div>
    </div>
    <div class="container-box">
        <div class="container">
            <h2 class="text-uppercase">video </h2>
            <p>Collection of videos of my journey<br> around the world</p>
            <div class="row" *ngIf="videoList?.dataList?.length>0">
                <div class=" col-sm-6 col-md-6 col-lg-6 " *ngFor="let video of videoList?.dataList">
                    <div class="video-box marg-sm-top">
                        <p class=" video-title">
                            {{video.title}} </p>
                        <div class="video-image-box">
                            <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(video.videoUrl)" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div> 
            </div>
            <nav aria-label="..." class="text-center marg-sm-top" *ngIf="pageLimit>index">
                    <ul class="pagination">
                        <li class="page-item disabled" *ngIf="index>1" [class.disabled]="index <= 1">
                            <a class="page-link" href="javascript:void(0)" (click)="decreaseIndex()">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" [class.active-pagination]="index == currentPage" *ngIf="index<=pageLimit" [routerLink]="['/video']" [queryParams]="{page: index}">{{index}}</a></li>
                        <li class="page-item">
                                <a class="page-link" *ngIf="(index+1)<=pageLimit" [class.active-pagination]="(index + 1) == currentPage" [routerLink]="['/video']" [queryParams]="{page: index+ 1}">{{index + 1}}</a>
                        </li>
                        <li class="page-item"><a class="page-link" *ngIf="(index+2)<=pageLimit" [class.active-pagination]="(index + 2) == currentPage" [routerLink]="['/video']" [queryParams]="{page: index + 2}">{{index + 2}}</a></li>
                        <li class="page-item" [class.disabled]="(pageLimit-2) <= index">
                                <a class="page-link" href="javascript:void(0)" (click)="increaseIndex()">Next</a>
                        </li>
                    </ul>
                </nav>
        </div>
    </div>
    