<!-- Page Heading -->


<div class="row">
    <div class="col-lg-12 ">
        <h1 class="page-header">
            Email Template
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['dashboard']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-envelope"></i> Email Template
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row" fadeInDirective>
    <div class="col-lg-12">
        <nav class="jumbotron filter-wrapper">
            <a class="fa fa-plus-circle nvabar-brand btn btn-primary" title="Add Email Template"
                (click)="addTemplate()"
                href="javascript:void(0)"> Add Template</a>
        </nav>

        <div class="table-responsive">
            <table class="tablesorter table table-bordered table-hover table-striped">
                <thead class="thead-inverse">
                <tr #colCount>
                    <th>SN</th>
                    <th>Template Name</th>
                    <th>Subject</th>
                    <th>From</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody *ngIf="objResponse?.dataList?.length>0">
                <tr *ngFor="let obj of objResponse?.dataList let i=index">
                    <td>{{preIndex+(i+1)}}</td>
                    <td>{{obj.templateName}}</td>
                    <td>{{obj.emailSubject}}</td>
                    <td>{{obj.emailFrom}}</td>
                    <td *ngIf="obj.active"><i class="fa green fa-check" aria-hidden="true"></i></td>
                    <td *ngIf="!obj.active"><i class="fa red fa-times" aria-hidden="true"></i></td>
                    <td class="action">
                        <!--<a class="fa fa-eye"  (click)="showInfoDetail(obj._id)" title="View"-->
                        <!--href="javascript:void(0)"></a>-->
                        <a class="fa fa-pencil-square-o" title="Edit" (click)="editDetail(obj._id)"
                           href="javascript:void(0)"></a>
                        <a class="fa fa-trash red-hover" title="delete" (click)="delete(obj._id)"
                           href="javascript:void(0)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="objResponse?.dataList?.length==0">
                <tr>
                    <td [attr.colspan]="colCount.children.length">No Record Found</td>
                </tr>
                </tbody>
            </table>
            <div class="list-pagination" *ngIf="objResponse?.dataList?.length>0">

                <p-paginator [rows]="perPage" [totalRecords]="objResponse.totalItems"
                             [rowsPerPageOptions]="[5,10,20,50,100]" [first]="first"
                             (onPageChange)="pageChanged($event)"></p-paginator>

            </div>

        </div>
    </div>
</div>

