<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Email Template Editor
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-envelope"></i> Email Template Editor
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row form-outer" fadeInDirective>
    <div class="col-lg-12 form-wrapper">
        <form role="form" novalidate [formGroup]="templateForm" (ngSubmit)="saveTemplate()">
            <div class="form-group">
                <label>Template Name</label>
                <input class="form-control" [(ngModel)]="objEmailTemp.templateName"
                       placeholder="Enter Template Name" [formControl]="templateForm.controls['templateName']">
                <control-messages [isSubmitted]="isSubmitted"
                                  [control]="templateForm.controls['templateName']"></control-messages>
            </div>
            <div class="form-group">
                <label>Email Subject</label>
                <input class="form-control" [formControl]="templateForm.controls['emailSubject']"
                       [(ngModel)]="objEmailTemp.emailSubject"
                       placeholder="Enter Email Subject">
                <control-messages [isSubmitted]="isSubmitted"
                                  [control]="templateForm.controls['emailSubject']"></control-messages>

            </div>
            <div class="form-group">
                <label>Email From</label>
                <input class="form-control" [(ngModel)]="objEmailTemp.emailFrom"
                       placeholder="Enter Email From" [formControl]="templateForm.controls['emailFrom']">
                <control-messages [isSubmitted]="isSubmitted"
                                  [control]="templateForm.controls['emailFrom']"></control-messages>
            </div>
                <label>Email Body</label>
                <!--<ckeditor [editorFormControl]="editorFormControl" [editorFormControl]="editorFormControl [value]="objEmailTemp.templateBody"-->
                <!--(valueChange)="changeEditor($event)"></ckeditor>-->
                <tiny-editor [isSubmitted]="isSubmitted" [editorFormControl]="editorFormControl"
                             [value]="objEmailTemp.templateBody"
                             (valueChange)="editorValueChange($event)"></tiny-editor>
                <div class=" marg-sm-top">
                    <label>
                        <md-checkbox [checked]="objEmailTemp.active" formControlName="active"
                                        [(ngModel)]="objEmailTemp.active">
                            Active
                        </md-checkbox>
                    </label>
                    <label>
                        <md-checkbox [checked]="objEmailTemp.attachmentAvailabilityStatus" formControlName="attachment"
                                        [(ngModel)]="objEmailTemp.attachmentAvailabilityStatus">
                            Allow Attachement
                        </md-checkbox>
                    </label>
                </div>
                
            <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i>Save</button>
            <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel</button>
        </form>
    </div>
</div>

