<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Applicant Details
      <button class="btn-primary pull-right" onclick="window.print()"><i class="fa fa-print"></i> Print</button>
    </h1>
  </div>
</div>
<section class="marg-sm-top  ">
  <div class="container ">
    <div class="row">
      <div class="col-lg-12 form-details">
        <div id="print-section"> 
          <div class="bdr-green  marg-md-btm">
              <!-- Header Section1 -->
                <div class="pad-all bg-dark-green form-heading">
                  <h4 class=" text-capitalize text-white">Basic Information</h4>
                  <h4 class=" text-capitalize text-white form-no">From Number: {{ObjView.admissionFormNo}}</h4>
                </div>
                <div class="row form-outer pad-all">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group-print">
                       <label >First Name: </label>
                          <span class=" bdr-color"> {{ObjView.firstName}}</span>
                    </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                      <div class="form-group-print">
                        <label >Middle Name: </label>
                        <span class=" ">{{ObjView.middleName}}</span>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group-print">
                          <label>Last Name: </label>
                          <span class=" ">{{ObjView.lastName}} </span>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group-print">
                        <label>Date Of Birth: </label>
                        <span class=" ">{{ObjView.dateOfBirth | date}} </span>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group-print">
                        <label>Nationality: </label>
                        <span class=" ">{{ObjView.nationality}} </span>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group-print">
                        <label>Gender: </label>
                        <span class=" ">{{ObjView.gender}} </span>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                      <div class="form-group-print">
                        <label>Country: </label>
                        <span class=" ">{{ObjView.country}} </span>
                      </div>
                    </div>
                ​
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                      <div class="form-group-print">
                        <label>District: </label>
                        <span class=" ">{{ObjView.district}} </span>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                      <div class="form-group-print">
                        <label>Municipality/VDC: </label>
                        <span class=" ">{{ObjView.municipalityVdc}} </span>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                      <div class="form-group-print">
                        <label>Ward No.: </label>
                        <span class=" ">{{ObjView.wardNo}} </span>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                      <div class="form-group-print">
                          <label>Email: </label>
                          <span class=" ">{{ObjView.email}} </span>
                      </div>
                    </div>
                  </div>
                  <!--</form>-->
                  <!--Header Section2-->
                  <div class="bg-dark-green pad-all">
                  <h4 class=" text-capitalize text-white">Academic Information</h4>
                  </div>
                  <div class="row pad-all">
                  <div class="col-lg-12 ">
                    <div class="table-responsive">
                      <table class="table-bordered">
                      <thead>
                        <th>Level</th>
                        <th>Board</th>
                        <th>Course</th>
                        <th>Grade/Mark</th>
                      </thead>
                      <tbody *ngFor="let qual of ObjView.qualification">
                        <tr>
                            <td>
                                <label>Email: </label>
                              </td>
                            <td>
                              <span class=" ">{{qual.schoolBoard}} </span>
                            </td>
                            <td>
                              <span class=" ">{{qual.schoolCourse}} </span>
                            </td>
                            <td>
                              <span class=" ">{{qual.schoolGrade}} </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Intermediate: </label>
                            </td>
                            <td>
                              <span class=" ">{{qual.intermediateBoard}} </span>
                            </td>
                            <td>
                              <span class=" ">{{qual.intermediateCourse}} </span>
                            </td>
                            <td>
                              <span class=" ">{{qual.intermediateGrade}} </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Bachelor: </label>
                            </td>
                            <td>
                              <span class=" ">{{qual.bachelorBoard}} </span>
                            </td>
                            <td>
                              <span class=" ">{{qual.bachelorCourse}} </span>
                            </td>
                            <td>
                              <span class=" ">{{qual.bachelorGrade}} </span>
                            </td>
                        </tr>
                      </tbody>
                      </table>
                    </div>
                  </div>
                  </div>
                  <!--Header Section3-->
                  <div class="bg-dark-green pad-all">
                  <h4 class=" text-capitalize text-white">Guardian Information</h4>
                  </div>
                  <div class="row pad-all">
                  <div *ngFor=" let parent of ObjView.parent" >
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-inline">
                            <div class="form-group-print">
                              <label>Full Name: </label>
                              <span class=" ">{{parent.parentFullName}} </span>
                            </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-inline">
                          <div class="form-group-print">
                            <label>Contact No: </label>
                              <span class=" ">{{parent.parentContactNo}} </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-inline ">
                          <div class="form-group-print">
                            <label>Current Address: </label>
                              <span class=" ">{{parent.parentContactAddress}} </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-inline ">
                          <div class="form-group-print">
                            <label>Profession: </label>
                              <span class=" ">{{parent.parentProfession}} </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-inline ">
                          <div class="form-group-print">
                            <label>Email: </label>
                              <span class=" ">{{parent.parentEmail}} </span>
                          </div>
                        </div>
                      </div>
                  </div>
                  </div>
              </div>
              <div class="cursor-point marg-sm-btm">
                <form [formGroup]="editForm" novalidate>
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-3 marg-sm-top">
                        <h5 class="marg-sm-top">Status</h5>
                        <input type="hidden" formControlName="_id" value="{{ObjView._id}}">
                        <select class="form-control-static pull-left input-width" formControlName="admissionStatus">
                          <option *ngFor="let stat of status">{{stat}}</option>
                        </select>
                      </div>
                      <div class="col-lg-9 col-md-9 col-sm-9 marg-sm-top">
                        <h5 class="marg-sm-top">Remarks</h5>
                        <input type="text" class="form-control-static pull-left input-width" formControlName="remarks"/>
                      </div>
                    </div>
                </form>
              </div>  
        </div>
        <button type="submit" class="btn btn-primary marg-sm-top marg-sm-btm" (click)="updateView()">Update</button>
        <button type="button" class="btn  btn-danger marg-sm-top marg-sm-btm" (click)="triggerCancelView()">Cancel</button>
      </div>
    </div>
  </div>
</section>