<script src="notice-editor.component.ts"></script>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Notice Editor
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin/dashboard']">Dashboard</a>
      </li>
      <li class="active">
        <i class="fa fa-calendar-o"></i> Quote Editor
      </li>
    </ol>
  </div>
</div>

<div class="row form-outer" fadeInDirective>
  <div class="col-lg-12 form-wrapper">
    <form role="form" novalidate [formGroup]="noticeForm" (ngSubmit)="saveNotice()">
      <div class="form-group">
        <label>Quoted By</label>
        <input type="text" class="form-control" formControlName="noticeTitle"
               placeholder="Enter Quote Author">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="noticeForm.controls['noticeTitle']"></control-messages>
      </div>
      <div class="form-group">
        <label>Quote</label>
        <textarea class="form-control" formControlName="noticeDescription" rows="5"
                  placeholder="Enter Quote">
                </textarea>
      </div>
      <div class="form-group">
        <label>
          <md-checkbox formControlName="active">
            Active
          </md-checkbox>
        </label>
      </div>
      <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i>  Save</button>
      <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel</button>
    </form>
  </div>
</div>
