<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Notice</h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin/dashboard']">Dashboard</a>
      </li>
      <li>
        <i class="fa fa-calendar-o"></i> Notice List
      </li>
    </ol>
  </div>
</div>

<div class="row grid-wrapper" fadeInDirective>
  <div class="col-lg-12">
    <nav class="jumbotron filter-wrapper">
      <div class="container">
        <a class="navbar-brand fa fa-plus-circle btn btn-primary" title="Add Notice" (click)="addNotice()"
           href="javascript:void(0)"> Add Quote </a>
      </div>
    </nav>
    <div class="table-responsive">
      <table class="tablesorter table table-bordered table-hover table-striped">
        <thead class="thead-inverse">
        <tr #colCount>
          <th>SN</th>
          <th>Quote</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody *ngIf="objNoticeResponse?.dataList?.length>0">
        <tr *ngFor="let notice of objNoticeResponse?.dataList let i=index">
          <td>{{i+1}}</td>
          <td>{{notice.noticeDescription}}</td>
          <td [ngSwitch]="notice.active">
            <i *ngSwitchCase="true" class="fa green fa-check" aria-hidden="true"></i>
            <i *ngSwitchCase="false" class="fa red fa-times" aria-hidden="true"></i>
          </td>
          <td class="action">
            <a class="fa fa-pencil-square-o" title="Edit" (click)="edit(notice._id)"
               href="javascript:void(0)"></a>
            <a class="fa fa-trash red-hover" (click)="delete(notice._id)"
               title="Delete"
               href="javascript:void(0)"></a>
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="objNoticeResponse?.dataList?.length==0">
        <tr>
          <td [attr.colspan]="colCount.children.length">No Record Found</td>
        </tr>
        </tbody>
      </table>
      <div class="list-pagination" *ngIf="objNoticeResponse?.dataList?.length>0">

        <p-paginator [rows]="perPage" [totalRecords]="objNoticeResponse.totalItems"
                     [rowsPerPageOptions]="[5,10,20,50,100]" [first]="first"
                     (onPageChange)="pageChanged($event)"></p-paginator>

      </div>
    </div>
  </div>
</div>
