<div class="bg-voilet" id="news">
    <div class="container">
        <h2 class="text-center text-white">NEWS</h2>
        <div class="row" *ngIf="latestNewsList?.length>0">
            <div class="col-sm-6 col-md-3" *ngFor="let news of latestNewsList">
                <div class="news-image-box">
                    <a [routerLink]="['/news/', news.urlSlog]">
                        <img [src]="news.image[0].imageName" alt="{{news.image[0].imageAltText}}">
                    </a>
                    <span class="date-box">{{news.newsDate | date: yMMMd}}</span>
                </div>
                <div class="news-title">
                    <p>
                        <a [routerLink]="['/news/', news.urlSlog]"> {{news.newsTitle}}</a>
                    </p>
                </div>
            </div>
        </div>
        <button [routerLink]="['/news']" class="view-btn">View All News</button>
    </div>
</div>
<div class="blueBg" id="video">
</div>