<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Query Details
      <button class="btn-primary pull-right" (click)="print()"><i class="fa fa-print"></i> Print</button>
    </h1>

  </div>
</div>
<div class="view-wrapper" fadeInDirective>
  <div id="print-section">
    <div class="form-group row">
      <label class="col-sm-2 form-control-label">Name: </label>
      <label class="form-control-static">{{ObjQuery.name}}</label>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 form-control-label">Email: </label>
      <label class="form-control-static">{{ObjQuery.email}}</label>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 form-control-label">Query: </label>
      <label class="form-control-static">{{ObjQuery.query}}</label>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 form-control-label">Date: </label>
      <label class="form-control-static">{{ObjQuery.addedOn}}</label>
    </div>
  </div>
  <button type="button" (click)="triggerCancelView()" class="btn btn-danger">Cancel</button>
</div>

