<div class="gallery-wrapper">
    <div class="container">
        <a [routerLink]="['/image-gallery']">
            <img class="photo" id="photos" src="http://res.cloudinary.com/dc6pd5nwv/image/upload/v1511419297/photo_w9flmq.jpg">
        </a>

        <a [routerLink]="['/video']">
        <img class="video" src="http://res.cloudinary.com/dc6pd5nwv/image/upload/v1511419292/video_inx4ts.jpg"  >

        </a>
    </div>
</div>
