<div class="bg-pattern">
        <div class="container">
            <div class="image-box">
                <a [routerLink]="['/']"><img src="http://res.cloudinary.com/dc6pd5nwv/image/upload/v1511419050/hobsir2_dp1c8o.png" alt="Hob Khadka"></a>
            </div>
        </div>
</div>
<div class="container-box">
    <div class="container">
        
            <router-outlet>

            </router-outlet>

    </div>
</div>
<div class="bg-blue"></div>