<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h2 class="text-uppercase">Blog </h2>
        <p>This is not just a blog it can be
            <br> the door to success in your life</p>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
        <ul class="drop-nav">
        <li class="nav-item dropdown" *ngIf="blogCategoryList?.dataList?.length>0">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">Select Category</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" *ngFor="let blogCategory of blogCategoryList?.dataList" [routerLink]="['/blog', blogCategory.urlSlogCategory]">{{blogCategory.categoryName}}</a>
            </div>
          </li>
        </ul>
    </div>
</div>

<div class="row flex-box" *ngIf="blogList?.dataList?.length>0">
    <div class=" col-sm-6 col-md-4 flex-col" *ngFor="let blog of blogList?.dataList">
        <div class="blog-box">
            <a [routerLink]="['/blog/detail/', blog.urlSlog]" class="link-red">
                {{blog.blogTitle}} </a>
            <br>
            <div class="blog-image-box">
                <img [src]="blog.bannerImage" alt="{{blog.bannerImageAltText}}">
            </div>
            <span class="text-muted">{{blog.addedOn | date: 'MMM d'}}</span>
            <span class="dot-dark"></span>
            <span class="text-muted"> {{blog.blogDescription.split(" ").length / 100 | round}} min read </span>
            <p class="font-merriweather">{{(blog.blogSummary.length>180)? (blog.blogSummary | slice:0:180)+' ..':(blog.blogSummary)}}</p>
            <!-- <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <span class="tooltip1"><i class="tooltip-text">Bookmark</i></span>
                        </div>
                    </div> -->
        </div>
    </div>
</div>
<nav aria-label="..." class="text-center marg-sm-top" *ngIf="pageLimit>index">
    <ul class="pagination">
        <li class="page-item" *ngIf="index>1" [class.disabled]="index <= 1">
            <a class="page-link" href="javascript:void(0)" (click)="decreaseIndex()">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" *ngIf="index<=pageLimit" [class.active-pagination]="index == currentPage" [routerLink]="['/blog']" [queryParams]="{page: index}">{{index}}</a>
        </li>
        <li class="page-item">
            <a class="page-link" *ngIf="(index+1)<=pageLimit" [class.active-pagination]="(index + 1) == currentPage" [routerLink]="['/blog']"
                [queryParams]="{page: index+ 1}">{{index + 1}}
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" *ngIf="(index+2)<=pageLimit" [class.active-pagination]="(index + 2) == currentPage" [routerLink]="['/blog']"
                [queryParams]="{page: index + 2}">{{index + 2}}</a>
        </li>
        <li class="page-item" [class.disabled]="(pageLimit-2) <= index">
            <a class="page-link" href="javascript:void(0)" (click)="increaseIndex()">Next</a>
        </li>
    </ul>
</nav>