<section class="bg-light-gray padding-larg">
    <div class="container">
        <div class="blog"  *ngIf="latestBlogs?.length>0">
            <h2>BLOG</h2>
            <div class="row flex-box">
                <div class="flex-col" *ngFor="let blog of latestBlogs">
                    <div class="article">
                        <a [routerLink]="['/blog/detail/', blog.urlSlog]" class="link-red">
                            {{blog.blogTitle}} </a>
                        <span class="text-muted">{{blog.addedOn | date: 'MMM d'}}</span> <span class="dot-dark"></span> <span class="text-muted"> {{blog.blogDescription.split(" ").length / 100 | round}} min read </span>
                        <p class="font-merriweather">{{(blog.blogSummary.length>180)? (blog.blogSummary | slice:0:180)+' ..':(blog.blogSummary)}}</p>
                    </div>
                </div>
            </div>
            <button type="button" class="view-btn " [routerLink]="['/blog']">View All</button>
        </div>
    </div>
   
</section>
