<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h2 class="text-uppercase">Blog </h2>
        <p>This is not just a blog it can be
            <br> the door to success in your life</p>
    </div>
</div>

<div class="blog-detail-box" *ngIf="blogDetail">
        <div class="text-center">
            <h4>{{blogDetail?.data?.addedOn | date: 'longDate'}}</h4>
            <h2 class="text-capitalize">{{blogDetail?.data?.blogTitle}}</h2>
        </div>
        <div class="blog-detail-image">
            <img [src]="blogDetail?.data?.bannerImage" alt="{{blogDetail?.data?.bannerImageAltText}}">
        </div>
        <div class="blog-detail-text">
            <p [innerHTML]="blogDetail?.data?.blogDescription">
            </p>
            <div class="button-group text-center">
                <a class="facebook-bgColor "type="button" target="_blank" href="javascript:void(0)" (click)="share()">Share on Facebook</a>
                <a class="tweet-bgColor" type="button" target="_blank" href="https://twitter.com/intent/tweet?url={{repoUrl}}&text={{blogDetail.data.blogTitle}}">Share on Twitter</a>
                <a class="facebook-bgColor" type="button" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{repoUrl}}&title={{blogDetail.data.blogTitle}}&summary={{blogDetail.data.blogSummary}}&source={{repoUrl}}&submitted-image-url={{blogDetail.data.bannerImage}}">Share on LinkedIn</a>
            </div>
        </div>
</div>
<!-- <p-growl [(value)]="msgs"></p-growl> -->
