<div class="row" fadeInDirective>
  <div class="col-lg-12 form-wrapper">
    <h1 class="page-header">
      Alumni Editor
    </h1>
    <form novalidate [formGroup]="alumniForm" (ngSubmit)="saveAlumni()">
      <div class="form-group">
        <label>Alumni By Year</label>
        <select value = "{{objAlumni.categoryId}}" class="form-control"
                formControlName = "categoryId">
          <option value="">Select Category</option>
          <option *ngFor="let obj of objAlumniCat" [value]="obj._id">{{obj.year}}</option>
        </select>
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="alumniForm.controls['categoryId']"></control-messages>
      </div>
      <div class="form-group">
        <label>Name of student</label>
        <input class="form-control" name="newsTitle"
               formControlName="studentName" value="{{objAlumni.studentName}}" />
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="alumniForm.controls['studentName']"></control-messages>
      </div>
      <div class="form-group">
        <label>Student of Batch</label>
        <input class="form-control" name="newsTitle"
               formControlName="batchYear" value="{{objAlumni.batchYear}}" />
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="alumniForm.controls['batchYear']"></control-messages>
      </div>
      <div class="form-group">
        <label>Working Organisation</label>
        <input class="form-control" formControlName="organizationName"   name="organisation name"
                 value="{{objAlumni.organizationName}}" />
      </div>
      <div class="form-group">
        <label>Current Position</label>
        <input class="form-control" name="position" formControlName="organizationPosition"
               value="{{objAlumni.organizationPosition}}">
      </div>
      <div class="">
        <image-uploader [isSubmitted]="isSubmitted" [canvasSize]="canvasSize"
                        [imageFormControl]="imageFormControl"
                        (deleteImageEvent)="deleteImage($event)"
                        [imageName]="objAlumni.imageName" [drawImagePath]="drawImagePath"
                        allowDelete="true"
                        (fileSelectedEvent)="changeFile($event)"></image-uploader>
      </div>
      <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i> Save</button>
      <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel
      </button>
    </form>
  </div>
</div>

