<div class="row grid-wrapper" fadeInDirective >
  <div class="col-lg-12">
    <nav class="jumbotron filter-wrapper">
      <div class="container">
        <a class="navbar-brand fa fa-plus-circle btn btn-primary" title="Add Alumni" (click)="addAlumni()"
           href="javascript:void(0)"> Add Alumni</a>
        <div class="col-lg-4">
          <select class="form-control" (change)="categoryFilter($event)">
            <option value="" selected>Select Alumni By Year</option>
            <option *ngFor="let obj of objByYear?.dataList" [value]="obj._id">{{obj.year}}</option>
          </select>
        </div>
      </div>
    </nav>
    <div class="table-responsive">
      <table class="tablesorter table table-bordered table-hover table-striped">
        <thead class="thead-inverse">
        <tr #colCount>
          <th>SN</th>
          <th>Name</th>
          <th>Batch</th>
          <th>Joined Organisation</th>
          <th>Position</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody *ngIf="objAlumniResponse?.dataList?.length>0">
        <tr *ngFor="let obj of objAlumniResponse.dataList let i=index">
          <td>{{preIndex+(i+1)}}</td>
          <td>{{obj.studentName}}</td>
          <td>{{obj.batchYear}}</td>
          <td>{{obj.organizationName}}</td>
          <td>{{obj.organizationPosition}}</td>

          <!--<td><i *ngIf="obj.active" class="fa green fa-check" aria-hidden="true"></i>-->
            <!--<i *ngIf="!obj.active" class="fa red fa-times" aria-hidden="true"></i>-->
          <!--</td>-->
          <td class="action">

            <a class="fa fa-pencil-square-o" title="Edit" (click)="edit(obj._id)"
               href="javascript:void(0)"></a>
            <a class="fa fa-trash red-hover" (click)="delete(obj._id)"
               title="Delete"
               href="javascript:void(0)"></a>
            <!--<a class="fa fa-picture-o purple-hover" (click)="showImageList(obj._id)"-->
               <!--title="Image List"-->
               <!--href="javascript:void(0)"></a>-->
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="objAlumniResponse?.dataList?.length==0">
        <tr>
          <td [attr.colspan]="colCount.children.length">No Record Found</td>
        </tr>
        </tbody>
      </table>
      <div class="list-pagination" *ngIf="objAlumniResponse?.dataList?.length>0">

        <p-paginator [rows]="perPage" [totalRecords]="objAlumniResponse.totalItems"
                     [rowsPerPageOptions]="[5,10,20,50,100]" [first]="first"
                     (onPageChange)="pageChanged($event)"></p-paginator>

      </div>

    </div>
  </div>

</div>
