<nav class="navbar navbar-dark bg-inverse navbar-fixed-top topnav">
  <div class="collapse navbar-toggleable-xs clearfix text-center">

    <a class="navbar-brand framework-title" [routerLink]="['/admin/dashboard']">HOB Khadka Website</a>


    <ul class="nav navbar-nav top-nav navbar-right pull-xs-right top-right-nav">
      <li class="nav-item"><a class="nav-link" href="{{homeRoute}}" target="_blank" title="Preview">
        <i class="fa fa-desktop" aria-hidden="true"></i> Preview</a></li>
      <li class="dropdown nav-item" dropdown>

      <li class="dropdown nav-item" dropdown>
        <a href="javascript:;" id="single-button" class="nav-link dropdown-toggle" dropdownToggle><i
          class="fa fa-user"></i> Welcome {{userName}}</a>
        <ul class="dropdown-menu" aria-labelledby="single-button">
          <li>
            <a class="dropdown-item" [routerLink]="['/profile']">
              <i class="fa fa-fw fa-user"></i>
              Profile</a>
          </li>
          <!--<li>-->
          <!--<a class="dropdown-item" href="javascript:;"><i class="fa fa-fw fa-envelope"></i> Inbox</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a class="dropdown-item" href="javascript:;"><i class="fa fa-fw fa-gear"></i> Settings</a>-->
          <!--</li>-->
          <!--<li class="divider"></li>-->
          <li>
            <a class="dropdown-item" href="javascript:;" (click)="logout()"><i
              class="fa fa-fw fa-power-off"></i> Log Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>


