<div >
    <person-info></person-info>
    <!-- ========================quote======================================= -->    
    <quote-bar></quote-bar>
     <!-- ========================about me======================================= -->
     <about-section></about-section>
    <!-- ========================blog section======================================= -->
    <blog id="blog"></blog>
    <!-- ========================latest news======================================= -->
    <latest-news id="news"></latest-news>
    <!-- ========================gallery section======================================= -->
    <gallery></gallery>
    
</div>
