<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Admission Overlay Editor
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin/dashboard']">Dashboard</a>
      </li>
      <li class="active">
        <i class="fa fa-envelope"></i> Admission Overlay Editor
      </li>
    </ol>
  </div>
</div>

<div class="row form-outer" fadeInDirective>
  <div class="col-lg-12 form-wrapper">
    <form role="form" novalidate [formGroup]="admissionOverlay" (ngSubmit)="saveAdmissionOverlay()">
      <div class="form-group">
        <label>Image Title</label>
        <input type="text" class="form-control" formControlName="imageTitle"
               placeholder="Enter Image Title">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="admissionOverlay.controls['imageTitle']"></control-messages>
      </div>
      <div class="form-group ">
        <label>Image Alt Text</label>
        <input type="text" class="form-control" formControlName="imageAltText"
               name="imageAltText"
               placeholder="Enter alternate text">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="admissionOverlay.controls['imageAltText']"></control-messages>
      </div>
     
     <div class="form-group">
        <label>Image Height</label>
        <input type="text" class="form-control" formControlName="imageHeight"
               name="imageHeight"
               placeholder="Enter image height">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="admissionOverlay.controls['imageHeight']"></control-messages>
      </div>
      
      <div class="form-group">
        <label>Image Width</label>
        <input type="text" class="form-control" formControlName="imageWidth"
               name="imageWidth"
               placeholder="Enter image width">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="admissionOverlay.controls['imageWidth']"></control-messages>
      </div>

      <div class="form-group">
        <image-uploader [isSubmitted]="isSubmitted" [canvasSize]="canvasSize"
                        [imageFormControl]="imageFormControl"
                        (deleteImageEvent)="deleteImage($event)"
                        allowDelete="true"
                        [imageName]="objAdmissionOverlay.imageName" [drawImagePath]="drawImagePath"
                        (fileSelectedEvent)="changeFile($event)"></image-uploader>
      </div>
      <div class="form-group">
        <label>
          <md-checkbox formControlName="active">
            Active
          </md-checkbox>
        </label>
      </div>
      <div class="marg-md-top">
          <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i>  Save</button>
          <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel</button>
      </div>
    </form>
  </div>
</div>