<div class="quote-block text-right" *ngIf="quote">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8 col-sm-offset-2 col-md-offset-4">
                <div class="quote-content">"{{quote.noticeDescription}}"
                    <div class="quote-by">- {{quote.noticeTitle}}</div>
                </div>
                <span class="text-muted">Quote of the day</span>
            </div>
        </div>
    </div>
</div>