<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Contact Details
            <button class="btn-primary pull-right" (click)="print()"><i class="fa fa-print"></i> Print</button>

        </h1>

    </div>
</div>
<div class="view-wrapper" fadeInDirective>
    <div id="print-section">
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Full Name: </label>
            <label class="form-control-static">{{objContact.fullName}}</label>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Email: </label>
            <label class="form-control-static">{{objContact.email}}</label>
        </div>
        <!-- <div class="form-group row">
            <label class="col-sm-2 form-control-label">Contact Number: </label>
            <label class="form-control-static">{{objContact.contactNumber}}</label>
        </div> -->

        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Organization Name: </label>
            <label class="form-control-static">{{objContact.organizationName}}</label>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Information Source: </label>
            <label class="form-control-static">{{objContact.informationSource}}</label>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Message: </label>
            <label class="form-control-static">{{objContact.message}}</label>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Date: </label>
            <label class="form-control-static">{{objContact.addedOn}}</label>
        </div>
    </div>
    <button type="button" (click)="triggerCancelView()" class="btn  btn-danger">Cancel</button>
</div>