<!-- Page Heading -->
<div class="row">
    <div class=" col-lg-12">
        <h1 class="page-header">
            Contact List </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> <a [routerLink]="['/dashboard']">Dashboard</a>
            </li>

            <li class="active">
                <i class="fa fa-list"></i> Contact List
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row  grid-wrapper " fadeInDirective *ngIf="!showInfo">
    <div class="col-lg-12">

        <div class="table-responsive">
            <table class="tablesorter table table-bordered table-hover table-striped">
                <thead class="table-inverse">
                <tr #colCount>
                    <th>SN</th>
                    <th>Full Name</th>
                    <th>Email</th>
                  <!-- <th>Contact Number</th> -->
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody *ngIf="objResponse?.dataList?.length>0">
                <tr *ngFor="let obj of objResponse?.dataList let i=index">
                    <td>{{preIndex+(i+1)}}</td>
                    <td>{{obj.fullName}}</td>
                    <td>{{obj.email}}</td>
                  <!-- <td>{{obj.contactNumber}}</td> -->
                  <td>{{changeDateFormat(obj.addedOn)}}</td>
                    <td class="action">
                        <a class="fa fa-eye" (click)="showDetail(obj._id)" title="View"
                           href="javascript:void(0)"></a>
                        <a class="fa fa-trash" title="delete" (click)="delete(obj._id)"
                           href="javascript:void(0)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="objResponse?.dataList?.length==0">
                <tr>
                    <td [attr.colspan]="colCount.children.length">No Record Found</td>
                </tr>
                </tbody>
            </table>
            <div class="list-pagination" *ngIf="objResponse?.dataList?.length>0">

                <p-paginator [rows]="perPage" [totalRecords]="objResponse.totalItems"
                             [rowsPerPageOptions]="[5,10,20,50,100]" [first]="first"
                             (onPageChange)="pageChanged($event)"></p-paginator>

            </div>

        </div>
    </div>


</div>
<contact-view *ngIf="showInfo" [contactId]="contactId"
              (viewCancelEvent)="handleCancel($event)"></contact-view>
