<div class="bg-pattern">
        <div class="container">
            <div class="image-box">
                <a [routerLink]="['/']"><img src="http://res.cloudinary.com/dc6pd5nwv/image/upload/v1511419050/hobsir2_dp1c8o.png" alt="Hob Khadka"></a>
            </div>
        </div>
</div>
<div class="container-box">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 ">
                <h2 class="text-uppercase">News </h2>
                <p>Read the latest news about my work</p>
            </div>
        </div>
        <div class="row flex-box" *ngIf="newsList?.dataList?.length>0">
            <div class=" col-sm-6 col-md-4 col-lg-4 flex-col" *ngFor= "let news of newsList?.dataList">
                <div class="blog-box">
                    <a [routerLink]="['/news/'+ news.urlSlog]" class="link-red">
                        {{news.newsTitle}} </a><br>
                    <div class="blog-image-box">
                        <img [src]="news.image[0].imageName" alt="{{news.image[0].imageAltText}}">
                    </div>
                    <span class="text-muted">{{news.newsDate | date: 'MMM d'}}</span> <span class="dot-dark"></span> <span class="text-muted"> {{news.newsDescription.split(" ").length / 100 | round}} min read </span>
                    <p class="font-merriweather">{{news.newsSummary}}</p>
                </div>
            </div>
        </div>
        <nav aria-label="..." class="text-center marg-sm-top" *ngIf="pageLimit>index">
            <ul class="pagination">
                <li class="page-item disabled" *ngIf="index>1" [class.disabled]="index <= 1">
                    <a class="page-link" href="javascript:void(0)" (click)="decreaseIndex()">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" *ngIf="index<=pageLimit" [class.active-pagination]="index == currentPage" [routerLink]="['/news']" [queryParams]="{page: index}">{{index}}</a></li>
                <li class="page-item">
                        <a class="page-link" *ngIf="(index+1)<=pageLimit" [class.active-pagination]="(index + 1) == currentPage" [routerLink]="['/news']" [queryParams]="{page: index+ 1}">{{index + 1}}</a>
                </li>
                <li class="page-item"><a class="page-link" *ngIf="(index+2)<=pageLimit" [class.active-pagination]="(index + 2) == currentPage" [routerLink]="['/news']" [queryParams]="{page: index + 2}">{{index + 2}}</a></li>
                <li class="page-item" [class.disabled]="(pageLimit-2) <= index">
                        <a class="page-link" href="javascript:void(0)" (click)="increaseIndex()">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="bg-blue"></div>
