<div class="bg-pattern">
  <div class="container">
    <div class="image-box">
      <a [routerLink]="['/']">
        <img src="http://res.cloudinary.com/dc6pd5nwv/image/upload/v1511419050/hobsir2_dp1c8o.png" alt="Hob Khadka">
      </a>
    </div>
  </div>
</div>
<div class="container-box">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 ">
        <h2 class="text-uppercase">News </h2>
        <p>Read the latest news about my work </p>
      </div>
    </div>
    <div class="blog-detail-box" *ngIf="newsDetail">
      <div class="text-center">
        <h4>{{newsDetail?.newsDate | date: 'longDate'}}</h4>
        <h2 class="text-capitalize">{{newsDetail?.newsTitle}}</h2>
      </div>
      <!-- <p class="quote-box">
            Principles that give us the security to adapt to change and the wisdom and power to take advantage of the opportunities that change creates.
        </p> -->
      <div class="blog-detail-image">
        <img [src]="newsDetail?.image[0].imageName" alt="{{newsDetail?.image[0].imageAltText}}">
      </div>
      <div class="blog-detail-text">
        <p [innerHTML]="newsDetail?.newsDescription">
        </p>
        <div class="button-group text-center">
          <a class="facebook-bgColor" type="button" target="_blank" href="javascript:void(0)" (click)="share()">Share on Facebook</a>
          <a class="tweet-bgColor" type="button" target="_blank" href="https://twitter.com/intent/tweet?url={{repoUrl}}&text={{newsDetail.newsTitle}}">Share on Twitter</a>
          <a class="facebook-bgColor" type="button" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{repoUrl}}&title={{newsDetail.newsTitle}}&summary={{newsDetail.newsSummary}}&source={{repoUrl}}&submitted-image-url={{newsDetail.image[0].imageName}}">Share on LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <p-growl [(value)]="msgs"></p-growl> -->
