
<header>
    <div class="hamburger">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </div>
    <div class="container">
        <div class="nav-height">
            <ul class="menus clearfix">
                <li class="nav-item menu-item1 blank">
                    <a href="#biography"></a>
                </li>
                <li class="nav-item menu-item2">
                    <a [routerLink]="['']">Home</a>
                </li>
                <li class="nav-item menu-item3">
                    <a [routerLink]="['/biography']">Biography</a>
                </li>
                <li class="nav-item menu-item4">
                    <a [routerLink]="['/portfolio']">Portfolio</a>
                </li>
                <li class="nav-item menu-item5 blank">
                    <a href="#companies"></a>
                </li>
                <li class="nav-item menu-item6 blank">
                    <a href="#companies"></a>
                </li>
                <li class="nav-item menu-item7 blank">
                    <a href="#awards"></a>
                </li>
                <li class="nav-item menu-item9">
                    <a [routerLink]="['/blog']">Blog</a>
                </li>
                <li class="nav-item menu-item8">
                    <a [routerLink]="['/news']">News</a>
                </li>
                <li class="nav-item menu-item10">
                    <a [routerLink]="['/image-gallery']">Photos</a>
                </li>

                <li class="nav-item menu-item12">
                    <a [routerLink]="['/video']">Videos</a>
                </li>
                <li class="nav-item menu-item13 blank">
                        <a href="#video"></a>
                    </li>
                <li class="nav-item menu-item11">
                    <a href="javascript:void(0)" data-link="contact" class="smoothscroll"> Contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>
