<div class="bg-pattern">
    <div class="container">
        <div class="image-box">
            <a [routerLink]="['/']"><img src="http://res.cloudinary.com/dc6pd5nwv/image/upload/v1511419050/hobsir2_dp1c8o.png" alt="Hob Khadka"></a>
        </div>
    </div>
</div>
<div class="container-box">
    <div class="container">
        <h2>Portfolio</h2>
        <div class="portfolio-box ">
                <span [innerHTML]="portfolioDescription?.htmlModuleContent">
                    </span>
            <div class="row" *ngIf="partnerList?.dataList?.length>0">
                <div class="col-sm-6 col-lg-3" *ngFor="let partner of partnerList?.dataList">
                    <div class="content-box text-center">
                        <div class="logo-box text-center">
                            <a target="_blank" href="{{partner.linkURL}}">
                                <img [src]="partner.imageName" alt="partner.imageAltText">
                            </a>
                        </div>
                        <h4>{{partner.partnerName}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-blue"></div>