<div class="map-box" id="mission">
    <div class="text-box">
        <h3>think GLOBAL, act GLOBAL</h3>
        <p>World becomes a small place when you have bigger mission and vision. </p>
    </div>
    <img src="../assets/img-hob/map.svg" style=" top: -50px; z-index: 10;position: relative;">
</div>
