
<div class="parallax-window" data-parallax="scroll" data-bleed="0" data-speed="0.6" data-position="top" data-image-src="../assets/img-hob/office.jpg">
    <div class="container">
        <div class="about-us">
            <div class="box-pointed blue">
                <span [innerHTML]="passionHeaderDescription?.htmlModuleContent">
                </span>
            </div>
            <div class="box-pointed red">
                <div [innerHTML]="aboutMeHeaderDescription?.htmlModuleContent">

                </div>
                <div class="align-center">
                    <button class="btn-rect red" data-target="#bio" type="submit" [routerLink]="['/biography']">
                        Read More
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<my-mission></my-mission>
